<div class="pageContent" >
    <div class="column left">
        <form #f="ngForm"
              (ngSubmit)="doSaveItem()"
              enctype="multipart/form-data">

            <div class="table">
                <div>
                    <label for="picture">Image</label>

                    <div>
                        <img [src]="itemJS.mainPicture.dataURI"
                             class="itemPicturePreview"
                             *ngIf="itemJS.mainPicture?.dataURI != null">
                        <input type="file" id="picture" accept="image/*"
                               (change)="onPictureFileSelected($event)">
                    </div>
                </div>
                <div>
                    <label>Langue</label>
                    <lang-select [displayLanguage]="appLanguage"
                                [selectedLanguage]="editLanguage"
                                (languageChanged)="editLanguage = $event"></lang-select>
                </div>
                <div>
                    <label for="reference">Référence</label>
                <span>
                    <input type="text" id="reference"
                           [(ngModel)]="itemJS.reference"
                           ngControl="reference"
                           validate-required required>
                    <form-message for="reference" check-errors="['required']"></form-message>
                </span>
                </div>
                <div>
                    <label for="name">Nom</label>
                <span>
                    <input type="text" id="name"
                           localized [language]="editLanguage"
                           [localeTexts]="itemJS.name"
                           required>
                    <form-message for="name" check-errors="['required']"></form-message>
                </span>
                </div>
                <div>
                    <label for="description">Description</label>
                <span>
                    <textarea type="text" id="description" rows="3"
                              localized [language]="editLanguage"
                              [localeTexts]="itemJS.description"></textarea>
                </span>
                </div>
                <div>
                    <label for="price">Prix (TVAC)</label>
                <span>
                    <input class="number" type="number"
                           min="0" step="0.01" id="price" size="5"
                           [ngModel]="itemTotalPrice"
                           (input)="setItemTotalPrice($event)"
                           ngControl="vatExclusive"
                           validate-required>
                    €
                    <form-message for="vatExclusive" check-errors="['required']"></form-message>
                </span>
                </div>
                <div>
                    <label for="vat">TVA</label>

                    <div>
                        <input class="number" type="number"
                               min="0" max="100" step="1" id="vat" size="5"
                               [ngModel]="itemVatPercentage"
                               (input)="setItemVatRate($event)"
                               ngControl="vatPercentage"
                               validate-required>
                        %
                        <form-message for="vatPercentage" check-errors="['required']"></form-message>
                    </div>
                </div>
                <div>
                    <label for="vatInclusive">Prix HTVA</label>

                    <div class="totalPreview" id="vatInclusive">
                        <span>
                            {{ itemJS.vatExclusive | currency:'EUR':true:'.2-2' }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="actions">
                <button type="submit" [disabled]="!f.form.valid">Enregistrer</button>
                <a (click)="onCancelClicked()" class="blueLink">Retour</a>
            </div>
        </form>
    </div>

    <div class="column right" *ngIf="itemVariantSearchResult != null">
        <h3>Variantes</h3>

        <item-variant-list [items]="itemVariantSearchResult.list"
                         [columns]="itemVariantListColumns"
                         [rowSelectable]="true"
                         [headersVisible]="true"
                         (rowClicked)="onVariantRowSelected($event)"
                         (columnAction)="onVariantColumnAction($event)">
        </item-variant-list>

        <a (click)="doAddNewVariant()" [class.disabled]="item.id == null"
           class="newVariantLink blueLink">Ajouter une variante</a>
    </div>
</div>