<div class="itemList listPage">

    <div class="dataTable">
        <div class="dataTableHead"
             [hidden]="headers == false">
            <div class="dataTableRow">
            <span class="dataTableCell"
                  *ng-for="#col of columns"
                  [class.right]="col.alignRight"
                  [class.center]="col.alignCenter">
                    <span *ng-if="col.title != undefined">
                        {{ col.title[locale] }}
                    </span>
            </span>
            </div>
        </div>
        <div class="dataTableBody" *ng-if="items != undefined && selectable">
            <div *ng-for="#itempic of items"
                 class="dataTableRow item selectable"
                 (click)="onItemClick(itempic.item, col)"
                 focusable>
                <itemColumn *ng-for="#col of columns"
                            class="dataTableCell"
                            (action)="onColumnAction($event)"
                            (^click)="onItemClick(itempic.item, col)"
                            [class.right]="col.alignRight"
                            [class.center]="col.alignCenter"
                            [item]="itempic"
                            [column]="col"
                            [lang]="locale"></itemColumn>
            </div>
        </div>
        <div class="dataTableBody" *ng-if="items != undefined && !selectable">
            <div *ng-for="#itempic of items"
                 class="dataTableRow item">
                <itemColumn *ng-for="#col of columns"
                            class="dataTableCell"
                            (action)="onColumnAction($event)"
                            (^click)="onItemClick(itempic.item, col)"
                            [class.right]="col.alignRight"
                            [item]="itempic"
                            [column]="col"
                            [lang]="locale"></itemColumn>
            </div>
        </div>
    </div>
</div>
