@import '../../../styles/_main';

.itemList {
  position: relative;

  .busy:not([hidden]) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;

    img {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 2em;
    }
  }

  .dataTable {

    .dataTableHead {
      font-size: .9em;
      font-weight: bold;
    }
    .item.selectable:hover {
      cursor: pointer;
    }

    .item:not(.selectable):hover {
      cursor: default;
      pointer-events: none;
    }

    .dataTableCell.right {
      text-align: right !important;
    }
  }
}

.name {
  font-size: 1.1em;
  font-weight: bold;
}

.model {
  font-size: .8em;
  font-weight: lighter;

}

.price {
  text-align: right;
  font-size: 1.1em;
  ::after {
    content: " | test";
  }
}

.ref {
  font-size: .8em;
  font-family: monospace;
  text-align: left;
  max-width: 10%;
}

.description {
  font-size: .8em;
  max-width: 20%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
