<div class="editPage pageContent">
    <h1 class="pageTitle">Comptage de la caisse</h1>

    <div class="mainPane leftPane">
        <div class="info">
            <div class="title">
                Point de vente
            </div>
            <div class="value pos">
                <pos-select [editable]="true"
                            (posChanged)="onPosChanged($event)"></pos-select>
            </div>

            <div class="title" *ngIf="pos != null && paymentAccountList != null">
                Compte
            </div>
            <div class="value" *ngIf="pos != null && paymentAccountList != null">
                <form [hidden]="paymentAccountList.size < 2" >
                    <select (input)="onAccountChanged($event)" [value]="accountId">
                        <option [value]="null" [hidden]="account != null"
                                [selected]="accountId == null">Choisissez un compte
                        </option>
                        <option *ngFor="#accountOption of paymentAccountList" [value]="accountOption.id"
                                [selected]="accountId == accountOption.id">
                            {{ accountOption.description[appLanguage.locale] }}
                        </option>
                    </select>
                </form>
                <div *ngIf="account != null" [hidden]="paymentAccountList.size > 1">
                    {{ account.description[appLanguage.locale] }}
                </div>
                <div *ngIf="account == null" [hidden]="paymentAccountList.size > 0">
                    Aucun compte pour ce point de vente
                </div>
            </div>

            <div class="title" [hidden]="lastBalance == null">
                Dernière validation
            </div>
            <div class="value" *ngIf="lastBalance != null">
                <span class="title light">
                    {{ lastBalance.dateTime | date:'dd/MM/yyyy HH:mm' }}
                </span>
                <span>
                    {{ lastBalance.balance | currency:'EUR':true:'.2-2' }}
                </span>
            </div>
        </div>
    </div>

    <div class="mainPane rightPane">
        <balance-count-component *ngIf="account != null"
                                 [account]="account"
                                 (validated)="onBalanceValidated($event)"
                                 (cancelled)="onBalanceCancelled()">

        </balance-count-component>
    </div>
</div>
