@import '../../../../styles/_constants';

div.appMenu {
  color: $onBlueTextColor;
  display: inline-block;

  a {
    display: inline-block;
    margin: .5em;
    padding: 0em;

    text-decoration: none;
    color: white;

    &:not(.inactive) {

      &:hover {
        color: $onBlueHoverColor;
        cursor: pointer;
      }
      h1::after {
        content: " ▼";
      }
      &:focus {
        outline: 0.1em solid $onBlueFocusColor;
        box-shadow: 0 0 0.2em 0.1em $onBlueFocusColor;
      }
    }
    &.inactive {
      pointer-events: none;
    }
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin: .2em;
    }
  }
}