@import '../../../../styles/_constants';

div.appMenu {
  color: $onBlueTextColor;
  display: inline-block;
    margin: .5em;

  > a {
    display: inline-block;
    padding: .2em;

    text-decoration: none;
    color: white;

    &:not(.inactive) {

      &:hover {
        color: $onBlueHoverColor;
        cursor: pointer;
      }
      h1::after {
        content: " ▼";
      }
      &:focus {
        @include focus($onBlueFocusColor);
      }
    }
    &.inactive {
      pointer-events: none;
    }
    &.active {
      @include focus($onBlueFocusColor);
      color: $onBlueFocusColor;
    }
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin: .2em .2em .2em 0;
    }
  }

  div.app-open-menu {
    &:not([hidden]) {
      display: inline-block;
    }
    position: absolute;
    left: .5em;
    top: 2em;
    margin: .5em;
    border: .1em solid white;
    padding:  .5em 1em ;
    font-size: 1.3em;
    font-weight: bold;
    z-index: 3;

    background-color: $blueColor;

    > a {
      display: block;
      text-decoration: none;
      color: white;

      &.router-link-active {
        pointer-events: none;
        color: $onBlueFocusColor;
        text-decoration: none;
      }
      &:not(.router-link-active):hover {
        color: $onBlueHoverColor;
      }
    }
  }
}
