<div class="sellView">
    <table>
        <tr>
            <td class="itemList"  [hidden]="commandValidated">
                <itemList #itemlist (item-clicked)="onItemClicked($event, commandview)"></itemList>
            </td>
            <td class="commandView">
                <commandView #commandview (validate)="onCommandValidated($event, payview, commandview)"></commandView>
            </td>
            <td class="payView" [hidden]="commandValidated == false">
                <payView #payview (paid)="onCommandPaid(commandview)"></payView>
            </td>
        </tr>
    </table>
</div>