<div [ngSwitch]="column.name">
    <template [ngSwitchWhen]=" 'id'">
        <span class="id">
            {{ account.id }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'accountingNumber'">
        <span class="accountingNumber">
            {{ account.accountingNumber }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'iban'">
        <span class="iban">
            {{ account.iban }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'bic'">
        <span class="bic">
            {{ account.bic }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'name'">
        <span class="name">
           {{ account.name }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'description'">
        <span class="description">
           {{ account.description[lang.locale] }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'type'">
        <span class="type">
            {{ account.accountTypeLabel[lang.locale] }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'action_remove'">
        <span class="action remove">
            <a class="actionIcon"
               (click)="onColumnAction(account, column, $event)">
                <i class="fa fa-minus red"></i>
            </a>
        </span>
    </template>
</div>

