<div class="accountList">
    <table class="dataTable">
        <thead [hidden]="!headersVisible">
        <tr>
            <th *ngFor="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                    <span *ngIf="col.title !== null">
                        {{ col.title.get(language.locale) }}
                    </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#account of accounts"
            [class.selectable]="rowSelectable"
            (click)="onAccountClick(account, $event)"
            [attr.focusable]="rowSelectable">
            <td *ngFor="#col of columns"
                width="{{col.weight * columnWeightToPercentage}}%"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                <account-column class="column"
                        (action)="onColumnAction($event)"
                        [account]="account"
                        [column]="col"
                        [lang]="language">
                </account-column>
            </td>
        </tr>
        </tbody>
    </table>
</div>
