@import '../../styles/_main';

div.editView {
    width: 100%;
    overflow-y: auto;
    display: table;
    min-height: 90vh;
}

div.editViewMenu {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    padding: 1em;
    background-color: $blueColor;

    a {
        color: white;
        font-size: 1.2em;
        font-weight: bolder;
        text-decoration: none;
    }
    a.active{
        color: $onBlueHoverColor;
    }
    a:hover {
        color: $onBlueHoverColor;
    }
}

div.view {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
