$blueColor: #8BAAF2;
$onBlueHoverColor: yellow;
$onBlueTextColor: white;
$onBlueFocusColor: #FFFBA1;

$onWhiteHoverColor: rgba(139, 170, 242, .5);
$onWhiteLinkColor: #6981B8;
$onWhiteFocusColor: $onWhiteHoverColor;

$tableRowHoverColor: rgba(128, 128, 128, 0.1);

@mixin focus($focusColor) {
  outline: .1em solid $focusColor;
  box-shadow: 0 0 .2em .1em $focusColor;
}

h1.pageTitle {
  font-size: 1.6em;
  margin: .5em 0;
}

div.pageContent {
  text-align: center;
  font-size: 1em;
  margin: .5em;
}

input, textarea, select, button {
  font-size: 1em;
}

.blueLink {
  color: $onWhiteLinkColor;
  @extend .actionLink;
}

.actionLink {
  &:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  &.disabled {
    color: lightgray;
    pointer-events: none;
  }
}
