@import '_main';

.editPage {
  padding: .5em;

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: .3em;
  }

  .busy:not([hidden]) {
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 1em;
    height: 1.5em;
  }
  .topActions {
    text-align: center;
    margin: 1em;
    >* {
      margin-right: 1em;
    }
    .filter {
      display: inline-block;
    }

    .action , button.action {
      font-size: 1em;
      @extend .boxedHoverableLink;
      display: inline-block;
    }
  }

  table {
    @extend .dataTable;
  }
}

.editOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  text-align: center;
  z-index: 2;

  .editWindow {
    position: relative;
    display: inline-block;
    top: 10vh;
    max-height: 80vh;
    max-width: 90vw;
    overflow-y: auto;

    border: 2px solid lightsteelblue;
    background-color: white;
    padding: .5em;
    box-sizing: border-box;

    h2 {
      text-align: center;
      margin: .2em;
      color: $onWhiteLinkColor;
    }

    form table {
      margin: .5em;

      td {
        text-align: left;
        padding: .3em;
        vertical-align: top;
      }
      td  input, td textarea, td  label {
        font-size: .8em;
      }

      td textarea {
        font-family:  Helvetica, Arial, sans-serif;
      }
      td > input, td > textarea {
        width: 100%;
      }
      td:first-child {
        text-align: right;
        font-weight: bold;
      }
    }

    button {
      @extend .boxedHoverableLink;
      font-size: 1em;
    }
    a {
      @extend .lightBlueLink;
      font-size: .9em;
    }
  }

}