@import '_main';

.formPage {
  text-align: center;

  form {
    display: inline-block;
    font-size: 1em;

    table {
      margin: 1em;

      td {
        vertical-align: middle;
        padding: .3em;
      }

      td.label, td:first-child {
        text-align: right;
        font-size: 1em;
        font-weight: bold;
      }

      td.field, td:nth-of-type(2) {
        font-size: 1em;
        text-align: left;
        max-width: 20em;

        >input, select {
          width: 100%;
          font-size: 1em;
          border-width: .1em;
        }
        >textarea {
          font-family:  Helvetica, Arial, sans-serif;
          width: 100%;
          font-size: .9em;
          border-width: .1em;
        }
      }
    }

    button {
      @extend .boxedHoverableLink;
      font-size: 1em;
    }
    a {
      @extend .lightBlueLink;
      font-size: .9em;
    }
  }
}