@import './_boxedLink';

form {
  display: inline-block;
  padding: 1em;

  input, button, textarea, select {
    font-size: 1em;
    padding: .1em;

    &.ng-invalid, &.comptoir-invalid {
      outline: .08em solid red;
    }
  }
  textarea {
    font-size: .9em;
    font-weight: normal;
    font-family: sans-serif;
    font-variant: normal;
  }

  button[type=submit] {
    font-size: 1em;

  }

  h2 {
    font-size: 1.4em;
    margin: .3em;
    margin-top: 1em;
  }

  div.table {
    &:not([hidden]) {
      display: inline-table;
    }
    > div:not([hidden]) {
      display: table-row;
      text-align: left;
      padding: .3em;

      > input, > textarea, > select {
        margin: .3em;
      }
      > :not(input):not(textarea):not(select) {
        padding: .3em;
      }
      > *:not([hidden]) {
        display: table-cell;
        vertical-align: middle;

        &:first-child {
          text-align: right;
          font-size: .8em;
          font-weight: lighter;
          padding-right: .5em;
          vertical-align: top;
          padding-top: .8em;
        }
      }

    }
  }
  > div:not(.table) {
    margin: .5em;
  }
  div.actions {
    display: block;
    text-align: center;

    button {
      @extend .boxedLink;
    }
  }
}
