$blueColor: #8BAAF2;
$onBlueHoverColor: yellow;
$onWhiteHoverColor: rgba(139, 170, 242, .5);
$onWhiteLinkColor: #6981B8;
$tableRowHoverColor: rgba(128, 128, 128, 0.1);
$focusColor: $onWhiteHoverColor;
$onBlueFocusColor: #FFFBA1;

.coloredHeader:not([hidden]) {
  background: $blueColor;
  color: white;
  display: table;
  width: 100%;
  height: 3.5em;

  > *:not([hidden]) {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  h1 {
    display: inline-block;
    margin: 0;
    padding: .5em;
  }
  .actions {
    float: right;
    text-align: right;
    padding: .5em;

    .action:not([hidden]) {
      font-weight: bolder;
      cursor: pointer;
      display: inline-block;
      padding: .5em;
      border: .1em solid transparent;
    }
    .action:hover {
      border: .1em solid yellow;
      color: yellow;
    }
  }

  .busy {
    height: 100%;

    img:not([hidden]) {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.boxedHoverableLink {
  border: .1em solid $blueColor;
  font-weight: bolder;
  padding: .3em;
  margin: .3em;
  color: black;
  text-decoration: none;
  background-color: white;

  &:hover {
    background-color: $onWhiteHoverColor;
    cursor: pointer;
    text-decoration: none;
  }
  &:focus {
    background-color: $onWhiteHoverColor;
  }

  &[disabled], &[disabled]:focus, &[disabled]:hover {
    border-color: lightgray;
    background-color: white;
    text-decoration: none;
    cursor: default;
  }
}

.lightBlueLink {
  color: $onWhiteLinkColor;
}

.lightBlueLink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;;
}

input {
  font-size: 1em;
  padding: .1em;
  outline: .1em solid transparent;
  &.number {
    text-align: right;
    width: 5em;
  }
}

select {
  outline: .1em solid transparent;
}

:focus {
  outline: .1em solid $focusColor;
  box-shadow: 0 0 .2em .1em $focusColor;
}
.coloredHeader :focus {
  outline: .1em solid $onBlueFocusColor;
  box-shadow: 0 0 .2em .1em $onBlueFocusColor;
}


table.dataTable, div.dataTable {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  position: relative;

  tr, .dataTableRow {
    height: 1.5em;
  }

  tbody, .dataTableBody {
    tr:not(:last-child), .dataTableRow:not(:last-child) {
      border: 0.1em solid transparent;;
      border-bottom: .1em solid lightgray;
    }
    tr:hover, .dataTableRow:hover {
      background-color: $tableRowHoverColor;
    }

    tr[focusable]:focus, .dataTableRow[focusable]:focus {
      background-color: $focusColor;
    }

  }

  thead, .dataTableHead {
    tr, .dataTableRow {
      border-bottom: .1em solid lightgray;
      margin-bottom: 1em;

    }
  }

  td, th, .dataTableCell {
    padding: .2em;
    vertical-align: middle;
    text-align: left;
  }

  td.center, th.center {
    text-align: center;
  }

  td.number, td.total, th.number, th.total {
    text-align: right;
  }

  td, .dataTableCell {
    padding: .3em .3em 0;
    a.actionIcon:not([hidden]) {
      font-size: 1em;
      display: inline-block;
      vertical-align: middle;

      &:not(.noBlur) {
        color: rgb(220, 220, 220);
        -webkit-filter: blur(.1em);
      }
    }

    .actionIcon {
      padding-left: .3em;
    }
  }

  tr:hover td, .dataTableRow:hover .dataTableCell {
    a.actionIcon:not([hidden]) {
      -webkit-filter: none;
      color: black;
      .red {
        color: red;
      }
      .green {
        color: darkgreen;
      }
    }
    a.actionIcon:not([hidden]):hover {
      cursor: pointer;
      color: lighten(black, 50%);

      .red {
        color: lighten(red, 30%);
      }
      .green {
        color: lighten(darkgreen, 30%);
      }
    }
  }
}

div.dataTable:not([hidden]) {
  display: table;

  .dataTableRow:not([hidden]) {
    display: table-row;

    .dataTableCell:not([hidden]) {
      display: table-cell;
    }
  }
  .dataTableHead:not([hidden]) {
    display: table-header-group;
  }
  .dataTableBody:not([hidden]) {
    display: table-row-group;
  }
}

.actionlink:not([hidden]) {
  color: black;
}

.actionlink.green:not([hidden]) {
  color: darkgreen;
}

.actionlink.red:not([hidden]) {
  color: red;
}

.actionlink:not([hidden]):hover {
  text-decoration: underline;
  cursor: pointer;
  color: lighten(black, 50%);
}

.actionlink.green:not([hidden]):hover {
  color: lighten(darkgreen, 30%);
}

.actionlink.red:not([hidden]):hover {
  color: lighten(red, 30%);
}

.fi-2em {
  font-size: 2em;
}

.fi-3em {
  font-size: 3em;
}

span.valignAnchor {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

img.itemPicture.medium {
  max-width: 15vw;
  max-height: 15vh;
}

img.itemPicture.large {
  max-width: 25vw;
  max-height: 25vh;
}

img.itemPicture.list {
  max-width: 5em;
  max-height: 2em;
}

a.disabled, a.disabled:hover {
  color: lightgray !important;
  text-decoration: none !important;
  cursor: default !important;
}

.menuPaneView {
  width: 100%;
  overflow-y: auto;
  display: table;
  min-height: 90vh;

  > * {
    position: relative;
  }
  .menu {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    padding: 1em;
    background-color: $blueColor;

    a {
      color: white;
      font-size: 1.2em;
      font-weight: bolder;
      text-decoration: none;
      padding: .3em;
      margin: .2em;
      margin-bottom: .7em;
      display: block;
      background-color: transparent;
    }
    a.active {
      color: $onBlueHoverColor;
    }
    a:hover {
      color: $onBlueHoverColor;
    }
  }

  .view {
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
}
