$blueColor: lightsteelblue;
$onBlueHoverColor: yellow;
$onWhiteHoverColor: lightblue;
$onWhiteLinkColor: steelblue;

.coloredHeader {
  background: $blueColor;
  color: white;
  display: table;
  width: 100%;

  > * {
    display: inline-block;
    vertical-align: middle;
    padding: .5em;
  }

  h1 {
    display: inline-block;
    margin: 0;
    padding-right: .5em;
  }
  .actions {
    float: right;
    text-align: right;

    .action {
      font-weight: bolder;
      cursor: pointer;
      display: inline-block;
      padding: .5em;
      border: 1px solid transparent;
    }
    .action:hover {
      border: 1px solid yellow;
      color: yellow;
    }
  }
}

.boxedHoverableLink {
  border: .09em solid $blueColor;
  font-weight: bolder;
  padding: .3em;
  margin: .3em;
}

.boxedHoverableLink:hover {
  background-color: $onWhiteHoverColor;
  cursor: pointer;
}

.ligthBlueLink {
  color: $onWhiteLinkColor;
}

.ligthBlueLink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;;
}

table.dataTable {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  position: relative;

  tr {
    height: 1.5em;
  }
  tbody > tr:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }

  td, th {
    padding: .2em;
    vertical-align: middle;
    text-align: left;
  }
  td.center, th.center {
    text-align: center;
  }

  td.number, td.total, th.number, th.total {
    text-align: right;
  }
  td.ref {
    font-size: .8em;
    font-family: monospace;
    text-align: left;
    max-width: 10%;
  }

  td.rowActions {
    position: absolute;
    left: 0;
    height: 1.5em;
    z-index: 1;
    padding: 0;

    > .actions {
      background-color: rgba(255, 255, 255, 0.9);
      display: none;
      padding-left: .5em;
      font-size: .8em;
      vertical-align: middle;
    }
    a {
      @extend .ligthBlueLink;
      padding-right: .5em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  tr:hover > td.rowActions > .actions {
    display: inline-block;
  }
}

span.valignAnchor {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

img.itemPicture.medium {
  max-width: 15vw;
  max-height: 15vh;
}
img.itemPicture.large {
  max-width: 25vw;
  max-height: 25vh;
}
img.itemPicture.list {
  max-width: 5em;
  max-height: 2em;
}
a.disabled, a.disabled:hover {
    color: lightgray !important;
    text-decoration: none !important;
    cursor: default !important;
}


.menuPaneView {
  width: 100%;
  overflow-y: auto;
  display: table;
  min-height: 90vh;

  .menu {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    padding: 1em;
    background-color: $blueColor;

    a {
      color: white;
      font-size: 1.2em;
      font-weight: bolder;
      text-decoration: none;
    }
    a.active{
      color: $onBlueHoverColor;
    }
    a:hover {
      color: $onBlueHoverColor;
    }
  }

  .view {
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
}