<div class="listPage">
    <h1>Édition des produits</h1>
    <img class="busy" src="../../../res/img/ajax-loader.black.gif" [hidden]="!loading">

    <div class="topActions">
        <span class="input">
            <input [(ng-model)]="itemSearch.multiSearch" autoFocus
                   placeholder="Filtrer les produits"
                   (keyup)="handleFilterKeyUp($event)"
                   (change)="searchItems()">
        </span>
    </div>

    <paginator [total-count]="itemCount"
               [page-size]="itemsPerPage"
               show-prev-next="true" show-first-last="true"
               (pagechange)="onPageChanged($event)"></paginator>
    <table class="items">
        <thead>
        <tr>
            <th>Ref</th>
            <th>Nom</th>
            <th>Modèle</th>
            <th class="number">Prix</th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#item of items" class="item" (^click)="doEditItem(item)">
            <td class="ref">{{ item.reference }}</td>
            <td class="name">{{ item.name.localeTextMap[appLocale.isoCode]}}</td>
            <td class="model">{{ item.model }}</td>
            <td class="number price">{{ item.currentPrice.vatExclusive | currency:'EUR':true:'.2-2'}}</td>
            <td class="actions">
                <a class="remove actionIcon" (^click)="doRemoveItem(item)">
                    <i class="fi-x red"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
