@import '../../../styles/_list';

.listPage {
    margin-right: 1em;
}
table {
    tr.item:hover {
        cursor: pointer;
    }
    td.actions {
        width: 1.5em;
    }
    .itemPicture:not([hidden]) {
        display: block;
    }
}

