<div class="container">
    <div class="headerNav" [hidden]="isLogin()"
         (click)="switchMenuVisibility()">
        <h1 (click)="switchMenuVisibility()">{{ getPageName() }} ▼</h1>

        <div class="navMenu" [hidden]="!menuVisible">
            <a [router-link]="['/salesSale', {id: 'new'}]" [class.active]="isActive('/sales')"
               (click)="close()">Ventes</a>
            <a [router-link]="['/productsList']" [class.active]="isActive('/products')"
               (click)="close()">Produits</a>
            <a [router-link]="['/cashCount']" [class.active]="isActive('/cash')"
               (click)="close()">Caisse</a>
            <a [router-link]="['/accountsList']" [class.active]="isActive('/accounts')"
               (click)="close()">Comptes</a>
            <a [router-link]="['/settingsApp']" [class.active]="isActive('/settings')"
               (click)="close()">Paramètres</a>

        </div>
    </div>
    <div class="headerNav disabled" [hidden]="!isLogin()">
        <h1>{{getPageName()}}   </h1>
    </div>

    <div class="navTabs">
        <div [hidden]="!isActive('/sales')">
            <div class="tab">
                <a [router-link]="['/saleCurrent']" [class.active]="isActive('/sales/sale')">
                    Vente
                </a>
            </div>
            <div class="tab">
                <a [router-link]="['/salesActives']" [class.active]="isActive('/sales/actives')">
                    En cours
                </a>
            </div>
            <div class="tab">
                <a [router-link]="['/salesSale', {id: 'new'}]">
                    Nouvelle
                </a>
            </div>
            <div class="tab">
                <a [router-link]="['/salesHistory']" [class.active]="isActive('/sales/history')">
                    Historique
                </a>
            </div>
        </div>

        <div [hidden]="!isActive('/products')">
            <div class="tab">
                <a [router-link]="['/productsList']" [class.active]="isActive('/products/list')">
                    Liste
                </a>
            </div>
            <div class="tab">
                <a [class.active]="isActive('/products/edit')" [hidden]="!isActive('/products/edit')">
                    Édition
                </a>
            </div>
            <div class="tab">
                <a [router-link]="['/productsEditNew']">
                    Nouveau
                </a>
            </div>
        </div>

        <div [hidden]="!isActive('/cash')">
            <div class="tab">
                <a [router-link]="['/cashCount']" [class.active]="isActive('/cash/count')">
                    Comptage
                </a>
            </div>
            <div class="tab">
                <a [router-link]="['/cashHistory']" [class.active]="isActive('/cash/history')">
                    Historique
                </a>
            </div>
        </div>

        <div [hidden]="!isActive('/accounts')">
            <div class="tab">
                <a [router-link]="['/accountsList']" [class.active]="isActive('/accounts/list')">
                    Liste
                </a>
            </div>
            <div class="tab">
                <a [class.active]="isActive('/accounts/edit')" [hidden]="!isActive('/accounts/edit')">
                    Édition
                </a>
            </div>
            <div class="tab">
                <a [router-link]="['/accountsEditNew']">
                    Nouveau
                </a>
            </div>
        </div>

        <div [hidden]="!isActive('/settings')">
            <div class="tab">
                <a [router-link]="['/settingsApp']" [class.active]="isActive('/settings/app')">
                    Application
                </a>
            </div>
        </div>
    </div>
</div>

