
.menu {
    position: absolute;
    background-color: lightsteelblue;
    color: white;
    font-weight: bold;
    border: .1em solid white;
    z-index: 100;
    padding: .5em;
    min-width: 8em;
}

.menu a:not([hidden]) {
    display: block;
    padding: .3em;
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: yellow;
}
