div.formError:not([hidden]) {
  height: 1em;
  font-size: .8em;
  margin: .2em;
  border: .1em solid;
  padding: .2em; }
  div.formError:not([hidden]).fatal {
    color: #D8000C;
    background-color: #FFBABA; }
