<div class="itemList" (show)="searchItems()">
    <header class="filter coloredHeader">
        <input #filter (keyup)="onFilterValueChanged($event)"
               [value]="itemSearch.multiSearch"
               placeholder="Filtrer les produits" autoFocus/>
        <button (click)="applyFilter(filter.value)">Rechercher</button>
    </header>
    <div class="scrollPane">
        <table class="dataTable">
            <tr *ng-for="#item of items" class="item"
                (^click)="onItemClick(item)">
                <td class="ref">
                    {{ item.reference }}
                </td>
                <td class="name">
                    {{ item.name.text }}
                    <div class="model" [hidden]="item.model == null">{{item.model.text}}</div>
                </td>
                <td class="price">
                    {{ item.currentPrice | currency:'EUR':true:'.2-2'}}
                </td>
            </tr>
        </table>
    </div>
</div>
