<div class="itemList" (show)="searchItems()">
    <header class="filter coloredHeader">
        <input #filter
               (keyup)="onFilterKeyUp($event)"
               (change)="onFilterChange($event)"
               [value]="itemSearch.multiSearch"
               placeholder="Filtrer les produits" autoFocus/>
        <button (click)="applyFilter(filter.value)">Rechercher</button>
        <img class="busy" src="res/img/ajax-loader.white.gif" [hidden]="!loading">
    </header>
    <div class="scrollPane">
        <table class="dataTable">
            <tr *ng-for="#item of items" class="item"
                (^click)="onItemClick(item)">
                <td class="ref">
                    {{ item.reference }}
                </td>
                <td class="name">
                    {{ item.name.get() }}
                    <div class="model" [hidden]="item.model == null">{{item.model}}</div>
                </td>
                <td class="price">
                    {{ item.currentPrice.vatExclusive | currency:'EUR':true:'.2-2'}}
                </td>
            </tr>
        </table>
    </div>
</div>
