.coloredHeader {
  background: lightsteelblue;
  color: white;
  display: table;
  width: 100%; }
  .coloredHeader > * {
    display: inline-block;
    vertical-align: middle;
    padding: .5em; }
  .coloredHeader h1 {
    display: inline-block;
    margin: 0;
    padding-right: .5em; }
  .coloredHeader .actions {
    float: right;
    text-align: right; }
    .coloredHeader .actions .action {
      font-weight: bolder;
      cursor: pointer;
      display: inline-block;
      padding: .5em;
      border: 1px solid transparent; }
    .coloredHeader .actions .action:hover {
      border: 1px solid yellow;
      color: yellow; }

.boxedHoverableLink, .editPage .topActions .action, .editOverlay .editWindow button {
  border: 0.09em solid lightsteelblue;
  font-weight: bolder;
  padding: .3em;
  margin: .3em; }

.boxedHoverableLink:hover, .editPage .topActions .action:hover, .editOverlay .editWindow button:hover {
  background-color: lightblue;
  cursor: pointer; }

.lighBlueLink, table.dataTable td.rowActions a, .editPage table td.rowActions a, .editOverlay .editWindow a {
  color: steelblue; }

.lighBlueLink:hover, table.dataTable td.rowActions a:hover, .editPage table td.rowActions a:hover, .editOverlay .editWindow a:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer; }

table.dataTable, .editPage table {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  position: relative; }
  table.dataTable tr, .editPage table tr {
    height: 1.5em; }
  table.dataTable tbody > tr:not(:last-child), .editPage table tbody > tr:not(:last-child) {
    border-bottom: 1px solid lightgray; }
  table.dataTable td, .editPage table td, table.dataTable th, .editPage table th {
    padding: .2em;
    vertical-align: middle;
    text-align: left; }
  table.dataTable td.center, .editPage table td.center, table.dataTable th.center, .editPage table th.center {
    text-align: center; }
  table.dataTable td.number, .editPage table td.number, table.dataTable td.total, .editPage table td.total, table.dataTable th.number, .editPage table th.number, table.dataTable th.total, .editPage table th.total {
    text-align: right; }
  table.dataTable td.ref, .editPage table td.ref {
    font-size: .8em;
    font-family: monospace;
    text-align: left;
    max-width: 10%; }
  table.dataTable td.rowActions, .editPage table td.rowActions {
    position: absolute;
    left: 0;
    height: 1.5em;
    z-index: 1;
    padding: 0; }
    table.dataTable td.rowActions > .actions, .editPage table td.rowActions > .actions {
      background-color: rgba(255, 255, 255, 0.9);
      display: none;
      padding-left: .5em;
      font-size: .8em;
      vertical-align: middle; }
    table.dataTable td.rowActions a, .editPage table td.rowActions a {
      padding-right: .5em;
      display: inline-block;
      vertical-align: middle; }
  table.dataTable tr:hover > td.rowActions > .actions, .editPage table tr:hover > td.rowActions > .actions {
    display: inline-block; }

span.valignAnchor {
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

img.itemPicture.medium {
  max-width: 15vw;
  max-height: 15vh; }

img.itemPicture.large {
  max-width: 25vw;
  max-height: 25vh; }

img.itemPicture.list {
  max-width: 5em;
  max-height: 2em; }

.editPage {
  padding: .5em; }
  .editPage h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: .3em; }
  .editPage .topActions {
    text-align: center; }
    .editPage .topActions .action {
      display: inline-block; }

.editOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  text-align: center;
  z-index: 2; }
  .editOverlay .editWindow {
    position: relative;
    display: inline-block;
    top: 10vh;
    max-height: 80vh;
    overflow-y: auto;
    border: 2px solid lightsteelblue;
    background-color: white;
    padding: .5em; }
    .editOverlay .editWindow h2 {
      text-align: center;
      margin: .2em; }
    .editOverlay .editWindow form table {
      margin: .5em; }
      .editOverlay .editWindow form table td {
        text-align: left;
        padding: .3em;
        vertical-align: top; }
      .editOverlay .editWindow form table td input, .editOverlay .editWindow form table td textarea, .editOverlay .editWindow form table td label {
        font-size: .8em; }
      .editOverlay .editWindow form table td textarea {
        font-family: Helvetica, Arial, sans-serif; }
      .editOverlay .editWindow form table td > input, .editOverlay .editWindow form table td > textarea {
        width: 100%; }
      .editOverlay .editWindow form table td:first-child {
        text-align: right;
        font-weight: bold; }
    .editOverlay .editWindow button {
      font-size: 1em; }
    .editOverlay .editWindow a {
      font-size: .9em; }

.editPage {
  margin-right: 1em; }

table .rowActions {
  left: auto !important;
  right: 0 !important; }

/*# sourceMappingURL=editItemsView.css.map */
