<div class="editPage">
    <h1>Édition des produits</h1>

    <div class="topActions">
        <div class="action" (^click)="doEditNewItem()">
            Nouveau
        </div>
    </div>
    <paginator total-count="1234" page-size="10" show-prev-next="true" show-first-last="true"
            (pagechange)="onPageChanged($event)"></paginator>
    <table class="items">
        <thead>
        <tr>
            <th>Ref</th>
            <th>Nom</th>
            <th>Modèle</th>
            <th class="number">Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#item of itemService.items" class="item">
            <td class="ref">{{ item.reference }}</td>
            <td class="name">{{ item.name.text }}</td>
            <td class="model">{{ item.model.text }}</td>
            <td class="number price">{{ item.currentPrice | currency:'EUR':true:'.2-2'}}</td>
            <td class="rowActions">
                <span class="actions">
                <a class="remove"
                        (click)="doRemoveItem(item)">Supprimer</a>
                <a class="edit"
                   (click)="doEditItem(item)">Éditer</a>
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="editOverlay" *ng-if="editingItem != null">
    <div class="editWindow">
        <h2>Édition du produit</h2>

        <form [ng-form-model]="editForm" #f="form" (ng-submit)="doSaveEdit()">
            <table>
                <tr>
                    <td><label>Langue:</label></td>
                    <td>
                        <div class="fixme"></div>
                        <span *ng-for="#language of languages">
                            <input type="radio" name="langue"
                                   ng-control="lang"
                                   value="language.lang"
                                   [checked]="isLanguageSelected(language)"
                                   (click)="onLanguageSelected(language)"
                                   [attr.id]="language.lang">
                            <label [attr.for]="language.lang">{{language.text}}</label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="reference">Référence:</label></td>
                    <td>
                        <input type="text" id="reference"
                               ng-control="reference">
                    </td>
                </tr>
                <tr>
                    <td><label for="name">Nom:</label></td>
                    <td>
                        <input type="text" id="name"
                               ng-control="name">
                    </td>
                </tr>
                <tr>
                    <td><label for="description">Description:</label></td>
                    <td>
                        <textarea type="text" id="description" rows="3"
                               ng-control="description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="model">Modèle:</label></td>
                    <td>
                        <input type="text" id="model"
                               ng-control="model">
                    </td>
                </tr>
                <tr>
                    <td><label for="currentPrice">Prix:</label></td>
                    <td>
                        <input type="text" id="currentPrice"
                               ng-control="currentPrice">
                    </td>
                </tr>
            </table>
            <div class="actions">
                <button type="submit" [disabled]="!f.form.valid">Enregistrer</button>
                <a (click)="doCancelEdit()">Annuler</a>
            </div>
        </form>

    </div>
</div>