<div class="">
    <form id="posSelectForm" *ng-if="allPosList != null && allPosList.length > 0">
        <select [(value)]="pos">
            <option *ng-for="#posOption of allPosList">
                {{ pos.description[language] }}
            </option>
        </select>
    </form>
</div>
<div class="wrapper" >
    <div class="sellView" [class.slide-left]="payStep">
        <div class="itemList" >
            <div>
                <itemListView #itemlist (item-clicked)="onItemClicked($event, commandview, itemlist)"></itemListView>
            </div>
        </div>
        <div class="commandView" >
            <div>
                <commandView #commandview
                             (validate)="onCommandValidated($event, payview)"
                             [(sale)]="aSale" [validated]="commandValidated"></commandView>
            </div>
        </div>
        <div class="payView">
            <div>
                <payView #payview (paid)="onCommandPaid()"
                         [(sale)]="aSale"></payView>
            </div>
        </div>
    </div>
</div>
