
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.wrapper {
  min-height: 90vh;
  position: relative;
  overflow-x: hidden;
}

.sellView {
  width: 100%;
  height: 100%;
  position: absolute;

  > * {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 50%;
    @include transition(left 300ms ease-in-out);

    > * {
      margin: 1em;
    }
  }

  .itemList {
      left: 0;

    &.slide-left {
      left: -50%;
    }
  }

  .commandView {
    left: 50%;

    &.slide-left {
      left: 0;
    }
  }
  .payView {
    left: 100%;

    &.slide-left {
      left: 50%;
    }
  }

}

