<div class="saleList listPage">
    <table class="dataTable">
        <thead [hidden]="!headersVisible">
        <tr>
            <th *ngFor="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                    <span *ngIf="col.title !== null">
                        {{ col.title.get(language.locale) }}
                    </span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="#sale of sales"
            [class.selectable]="rowSelectable"
            (click)="onSaleClick(sale, $event)"
            [attr.focusable]="rowSelectable">
            <td *ngFor="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                <sale-column class="column"
                             (action)="onColumnAction($event)"
                             [sale]="sale"
                             [column]="col"
                             [lang]="language">

                </sale-column>
            </td>
        </tr>
        </tbody>
    </table>
</div>
