<div class="saleList listPage">
    <table class="dataTable">
        <thead [hidden]="!headersVisible">
        <tr>
            <th *ng-for="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                    <span *ng-if="col.title !== null">
                        {{ col.title.get(language.locale) }}
                    </span>
            </th>
        </tr>
        </thead>

        <tbody>
            <tr *ng-for="#sale of sales"
                 [class.selectable]="rowSelectable"
                (click)="onSaleClick(sale, $event)"
                 [attr.focusable]="rowSelectable">
                <td *ng-for="#col of columns"
                    [class.right]="col.alignRight"
                    [class.center]="col.alignCenter">
                    <saleColumn class="column"
                                (action)="onColumnAction($event)"
                                [sale]="sale"
                                [column]="col"
                                [lang]="language">

                    </saleColumn>
                </td>
            </tr>
        </div>
</div>
</div>
