<div class="listPage pageContent">
    <h1 class="pageTitle">Liste des produits</h1>

    <div class="busy" [hidden]="!loading">
        <img src="../../../../res/img/ajax-loader.white.gif">
    </div>

    <div class="topActions">
        <span class="input">
            <input [(ng-model)]="searchRequest.search.multiSearch" autofocus
                   placeholder="Filtrer les produits"
                   (input)="handleFilterKeyUp($event)">
        </span>
    </div>

    <paginator *ng-if="searchResult != undefined"
               [total-count]="searchResult.count"
               [page-size]="itemsPerPage"
               show-prev-next-link="true" show-first-last-link="true"
               (page-change)="onPageChanged($event)"></paginator>

    <itemList
            *ng-if="searchResult != undefined"
            [items]="searchResult.list"
            [columns]="columns"
            [row-selectable]="true"
            [headers-visible]="true"
            (column-action)="onColumnAction($event)"
            (row-clicked)="doEditItem($event)">

    </itemList>
</div>
