h1.pageTitle {
  font-size: 1.6em;
  margin: .5em 0; }

div.pageContent {
  text-align: center;
  font-size: 1em;
  margin: .5em; }

input, textarea, select, button {
  font-size: 1em; }

.blueLink {
  color: #6981B8; }

.actionLink:hover, .blueLink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer; }

.actionLink.disabled, .disabled.blueLink {
  color: lightgray;
  pointer-events: none; }

.listPage {
  margin-right: 1em; }

table tr.item:hover {
  cursor: pointer; }

table td.actions {
  width: 1.5em; }

table .itemPicture:not([hidden]) {
  display: block; }
