@import '../../../../styles/_main';

header {

  .commandNav {
    height: 100%;
  }
  .commandNav > *:not(.commandsMenu) {
    display: inline-block;
    vertical-align: middle;
  }
  .commandNav:not(.disabled):hover {
    color: $onBlueHoverColor;
    cursor: pointer;
  }

  .actions > .reduction > span:not([hidden]) {
    display: block;
    height: 100%;
  }
  .actions > .reduction input {
    font-size: 1em;
    width: 3em;
    display: inline-block;
    vertical-align: middle;
  }
  .actions > .reduction.has-reduction {
    color: darkgreen;
  }
  .actions > .reduction.editing {
    padding: .1em;
    border: none !important;
    color: white !important;
  }
}

table {

  &.dirty {
    background-color: lightgray;
  }

  .dirty {
    background-color: lightgray;
  }

  td > *:not([hidden]) {
    display: inline-block;
    vertical-align: middle;
  }

  td {
    .unneeded {
      display: none;
    }
    .nolink {
      pointer-events: none;
         }
  }

  td.amount, th.amount {
    padding-right: 1em;


  }

  td.amount {
    font-size: .8em;

    input {
      font-size: .9em;
      width: 2.5em;
    }
  }

  tr:hover .quantityLink.actionlink:not(.editing) {
    display: inline-block;
  }


  td.price {
    min-width: 4em;
    .setReduction {
      font-size: .8em;

      input {
        font-size: .8em;
        width: 2.5em;
      }
    }
  }

  td.actions {
    width: 3em;

  }
  .reduction {
    font-size: .8em;
  }
  .reduction.green:not(.actionlink) {
    color: darkgreen;
  }

  tfoot {
    border-top: 1px solid black;

    tr.details {
      font-size: .8em;
      color: gray;
    }

    th {
      text-align: right;
      font-size: .9em;
      font-weight: normal;
    }
    .total {
      font-size: 1.1em;
      font-weight: bold;
    }
  }

}

.newItem {
  font-size: 1em;
  padding: .5em;
  border: 1px solid lightsteelblue;

  h2 {
    font-size: 1em;
    font-weight: bolder;
    margin: 0;
  }

  input, button {
    font-size: .9em;
  }

  .ref {
    width: 10%;
  }
  .name {
    width: 45%;
  }
  .amount {
    width: 7%;
  }
  .price {
    width: 15%;
  }
  .vat {
    width: 10%;
  }
}
