<div class="commandView" *ng-if="aSale != null">

    <header class="coloredHeader">
        <h1>
            <span>Vente</span>
            <span class="saleRef" *ng-if="aSale.sale != null">
                #{{ aSale.sale.id }}
            </span>
        </h1>

        <div class="actions" [hidden]="aSale.items.length <= 0">

            <div class="action reduction" [hidden]="validated"
                 (^click)="editingGlobalReduction = true"
                 [class.editing]="editingGlobalReduction"
                 [class.has-reduction]="aSale.reduction > 0">
                <span [hidden]="editingGlobalReduction || aSale.reduction > 0">
                    Réduction
                </span>
                <span [hidden]="editingGlobalReduction || aSale.reduction <= 0">
                    -{{ aSale.reduction }} %
                </span>
                <span *ng-if="editingGlobalReduction">
                    <input #reduction [value]="aSale.reduction"
                           (keyup)="onGlobalReductionKeyEvent($event)"
                           (blur)="cancelGlobalReduction()"
                           type="number" min="0.01" step="0.01"
                           size="2" autofocusselect/>
                    %
                </span>
            </div>
            <div class="action validate" (click)="doValidate()" [hidden]="validated">Encaisser</div>
            <div class="action back" (click)="doUnvalidate()" [hidden]="!validated">Retour</div>
        </div>
    </header>

    <table class="dataTable" [hidden]="aSale.items ==  null">
        <thead>
        <tr>
            <th>Ref</th>
            <th>Nom</th>
            <th class="amount number">Quantité</th>
            <th class="price number">Prix</th>
            <th class="actions" [hidden]="validated"></th>
        </tr>
        </thead>

        <tbody>
        <tr *ng-for="#saleItem of aSale.items"
            class="saleItem">

            <td class="ref">
                <span [hidden]="saleItem.item.reference == null">
                    {{ saleItem.item.reference }}
                </span>
            </td>
            <td class="name">
                {{ saleItem.item.name[language] }}
            </td>
            <td class="amount number">
                <a class="quantityLink" (^click)="doEditItemAmount(saleItem)"
                   [class.editing]="editingAmountItem == saleItem"
                   [class.unneeded]="saleItem.itemSale.quantity <= 1 || editingAmountItem == saleItem"
                   [class.nolink]="validated"
                   [class.actionLink]="!validated">
                        <span class="count">
                            {{ saleItem.itemSale.quantity}} x
                        </span>
                        <span class="price">
                            {{ saleItem.item.vatExclusive | currency:'EUR':true:'.2-2'  }}
                        </span>
                </a>
                <span class="editAmount" *ng-if="editingAmountItem == saleItem">
                    <input #amount [value]="saleItem.itemSale.quantity"
                           (keyup)="onItemAmountKeyEvent($event)"
                           (blur)="cancelItemAmount()"
                           type="number" min="1"
                           size="4" autofocusselect/>
                </span>
            </td>
            <td class="price number">
                <a class="reduction green"
                   [class.unneeded]="saleItem.reduction <= 0 || editingReductionItem == saleItem"
                   [class.nolink]="validated"
                   [class.actionLink]="!validated"
                   (^click)="doEditItemReduction(saleItem)">
                    -{{saleItem.reduction}}%
                </a>
                <span class="setReduction" *ng-if="editingReductionItem == saleItem">
                    <input #reduction [value]="saleItem.reduction"
                           (keyup)="onEditItemReductionKeyUp($event)"
                           (blur)="doCancelItemReduction()"
                           type="number" min="0.1" step="0.1"
                           size="2" autofocusselect/>
                    %
                </span>
                <span>{{  saleItem.itemSale.vatExclusive | currency:'EUR':true:'.2-2' }}</span>
            </td>
            <td class="actions" [hidden]="validated">
                <a class="actionIcon remove" (^click)="doRemoveItem(saleItem)">
                    <i class="fi-x red"></i>
                </a>
                <a class="actionIcon setReductionLink" (^click)="doEditItemReduction(saleItem)"
                   [hidden]="saleItem.reduction > 0 || editingReductionItem == saleItem">
                    <span class="green" style="font-weight: bold;">%</span>
                </a>
            </td>
        </tr>

        </tbody>
        <tfoot *ng-if="aSale.sale != null" [hidden]="aSale.items.length <= 0">
        <tr [hidden]="aSale.reduction<= 0" class="details">
            <th colspan="3" class="reduction">
                Réduction {{ aSale.reduction}}%
            </th>
            <th class="reduction number">-{{ aSale.reductionAmount | currency:'EUR':true:'.2-2'}}</th>
        </tr>
        <tr class="details">
            <th colspan="3">Total HTVA</th>
            <th class="number">{{ aSale.sale.vatExclusiveAmount | currency:'EUR':true:'.2-2'}}</th>
        </tr>
        <tr class="details">
            <th colspan="3">TVA</th>
            <th class="number">{{ aSale.sale.vatAmount | currency:'EUR':true:'.2-2'}}</th>
        </tr>

        <tr>
            <th colspan="3" class="total">Total</th>
            <th class="total price number">{{ (aSale.sale.vatExclusiveAmount + aSale.sale.vatAmount) | currency:'EUR':true:'.2-2'}}</th>
        </tr>
        </tfoot>
    </table>
    <div class="newItem" [hidden]="validated">
        <h2>Ajouter un produit</h2>

        <form (ng-submit)="doAddCustomItem()">
            <input #name placeholder="Nom" class="name"
                   [value]="toAddItem.name" (keyup)="toAddItem.name = name.value">
            <input #amount placeholder="Quantité" class="amount"
                   type="number" min="1" step="1"
                   [value]="toAddItem.amount"
                   (keyup)="setToAddItemAmount(amount.value)"
                   (change)="setToAddItemAmount(amount.value)">
            <span>
            <input #price placeholder="Prix unitaire" class="price number"
                   type="number" min="0.01" step="0.01"
                   [value]="toAddItem.price | number:'.2-2'"
                   (keyup)="handleToAddItemPriceKeyUp($event)"
                   (change)="setToAddItemPrice($event)">€
            </span>
            <span>
            <input #vat placeholder="TVA" class="vat number"
                   type="number" min="0.01" step="0.01"
                   [value]="toAddItem.vat | number:'.2-2'"
                   (keyup)="handleToAddItemVatKeyUp($event)"
                   (change)="setToAddItemVat($event)">%
            </span>
            <button type='submit' [disabled]="!isItemToAddValid()">Ajouter</button>
        </form>
    </div>


</div>