@import '../../../../styles/_main';

header {

  .actions {
    .reduction {

      &.editing {
        padding: .1em;
        border: none !important;
        color: white !important;
      }
      &.has-reduction {
        color: green;
      }

      > span:not([hidden]) {
        display: block;
        height: 100%;
      }

      .editDiscount {
        input {
          font-size: 1em;
          width: 3em;
          display: inline-block;
          vertical-align: middle;
        }
        .editActions {
          > i {
            &:hover {
              cursor: pointer;
            }
            &.green {
              color: green;
              &:hover {
                color: lighten(green, 30%);
              }
            }
            &.red {
              color: red;
              &:hover {
                color: lighten(red, 30%);
              }
            }
          }
        }
      }

    }
  }
}

table {
  td, th {
    > *:not([hidden]) {
      //display: inline-block;
      //vertical-align: middle;
    }
    &.quantity {
      padding-right: 1em;
    }
    .nolink {
      pointer-events: none;
    }
    .unneeded {
      display: none;
    }
  }

  tr.saleItem {
    &.dirty {
      background-color: #F2F5F7;
    }

    &:hover {
      .quantityAmountLinks {
        &:not(.editing):not(.nolink) {
          display: inline-block !important;
        }
      }
    }

    td {
      &.name {
        .commentLink {
          &.editing {
            display: none;
          }
          &.unneeded {
            display: none;
          }
        }
        .comment {
          font-size: .8em;
          font-weight: normal;
          color: gray;
        }
      }
      &.quantity {
        .quantityAmountLinks {
          font-size: .8em;
          &.editing {
            display: none;
          }
          &.unneeded {
            display: none;
          }
        }
        .editPrice {
          input {
            font-size: .8em;
            width: 4em;
          }
        }
        .editQuantity {
          input {
            font-size: .8em;
            width: 3em;
          }
        }

      }
      &.price {
        min-width: 3em;
        font-size: .9em;

        .reduction {
          font-size: .8em;
        }
        input {
          font-size: .8em;
          width: 2.5em;
        }
      }

      &.actions {
        width: 4em;
      }

    }
  }
}


tfoot {
  border-top: 1px solid black;
  font-size: 1em;

  tr {
    th {
      text-align: right;
      font-weight: normal;
    }
    &.details {
      font-size: .8em;
      color: gray;
    }
    .total {
      font-size: 1.1em;
      font-weight: bold;
    }
  }

}

