<table class="dataTable"
       [hidden]="items.size== 0">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Nom</th>
            <th class="quantity number">Quantité</th>
            <th class="price number">Prix</th>
            <th class="actions" [hidden]="validated"></th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor="#saleItem of items"
            #row
            class="saleItem">

            <td class="ref">
                <span>
                    {{ saleItem.itemVariant.variantReference }}
                </span>
            </td>

            <td class="name">
                <div class="name">
                    {{ saleItem.itemVariant.item.name.get(language.locale) }}
                </div>
                <div class="description">
                    <span class="attributeValue"
                          *ngFor="#attr of saleItem.itemVariant.attributeValues">
                          <span class="def">
                            {{ attr.attributeDefinition.name.get(language.locale) }}
                        </span>
                        <span class="value">
                            {{ attr.value.get(language.locale) }}
                        </span>
                    </span>
                </div>
                <div class="comment">
                    <a class="commentLink"
                       (click)="doEditItemComment(saleItem)"
                       [class.actionLink]="!validated"
                       [class.editing]="editingItem == saleItem && editingComment"
                       [class.unneeded]="!hasComment(saleItem)"
                       [class.nolink]="validated">
                       {{ saleItem.comment.get(language.locale) }}
                </a>
                <span *ngIf="editingItem == saleItem && editingComment">
                    <input [initialValue]="getComment(saleItem)"
                        (fastChange)="onItemCommentChange($event)"
                        (cancelled)="cancelEdits()"
                        type="text"
                        size="14" fast-input/>
                </span>
            </div>
        </td>

        <td class="quantity number">
            <span class="quantityAmountLinks"
                  [class.editing]="(editingQuantity || editingPrice) && (editingItem == saleItem)"
                  [class.unneeded]="saleItem.quantity <= 1"
                  [class.nolink]="validated">
                  <a class="quantityLink"
               (click)="doEditItemQuantity(saleItem)"
               [class.actionLink]="!validated">
                    <span class="count">
                        {{ saleItem.quantity}} x
                    </span>
                </a>
                <a class="priceLink"
                   (click)="doEditItemPrice(saleItem)"
                   [class.actionLink]="!validated">
                    <span class="price">
                        {{ calcPriceVatInclusive(saleItem) | currency:'EUR':true:'.2-2'  }}
                    </span>
                </a>
            </span>
            <span class="editQuantity"
                  *ngIf="editingQuantity && editingItem == saleItem">
                  <input [initialValue]="editingItem.quantity"
                    [validator]="validateQuantity"
                    (fastChange)="onItemQuantityChange($event)"
                    (cancelled)="cancelEdits()"
                    type="number" min="1" step="1"
                    size="4" fast-input>
            </span>
            <span class="editPrice"
                  *ngIf="editingPrice && editingItem == saleItem">
                  <input [initialValue]="(editingItem.vatExclusive * (1 + editingItem.vatRate)) | number:'.2-2'"
                    [validator]="validatePrice"
                    (fastChange)="onItemPriceChange($event)"
                    (cancelled)="cancelEdits()"
                    type="number" min="0.01" step="0.01"
                    size="6" fast-input> €
            </span>
        </td>

        <td class="price number">
            <a class="reduction green"
               [class.unneeded]="saleItem.discountRatio == null || saleItem.discountRatio <= 0 || (editingItem == saleItem && editingDiscount)"
               [class.nolink]="validated"
               [class.actionLink]="!validated"
               (click)="doEditItemDiscount(saleItem)">
               -{{ ( saleItem.discountRatio * 100) | number:'.0' }}%
        </a>
        <span class="editDiscount"
              *ngIf="isEditingDiscount(saleItem)">
            <input [initialValue]="saleItem.discountRatio * 100"
                [validator]="validateDiscount"
                (fastChange)="onItemDiscountChange($event)"
                (cancelled)="cancelEdits()"
                type="number" min="1" max="100" step="1"
                size="2" fast-input/>
            %
        </span>
        <span>{{ calcTotalVatInclusive(saleItem) | currency:'EUR':true:'.2-2' }}</span>
    </td>

    <td class="actions" [hidden]="validated">
        <a class="actionIcon noBlur validate"
           (click)="doValidateInput(row)"
           [hidden]="!isEditingItem(saleItem)">
            <i class="fa fa-check green"></i>
        </a>
        <a class="actionIcon noBlur validate"
           (click)="doCancelInput(row)"
           [hidden]="!isEditingItem(saleItem)">
            <i class="fa fa-times red"></i>
        </a>
        <a class="actionIcon remove"
           [hidden]="isEditing()"
           (click)="doRemoveItem(saleItem)">
            <i class="fa fa-minus red"></i>
        </a>
        <a class="actionIcon setReductionLink"
           (click)="doEditItemDiscount(saleItem)"
           [hidden]="saleItem.discountRatio > 0 || isEditing()">
            <span class="green" style="font-weight: bold;">%</span>
        </a>
        <a class="actionIcon commentLink"
           (click)="doEditItemComment(saleItem)"
           [hidden]="hasComment(saleItem) || isEditing()">
           <i class="fa fa-comment"></i>
        </a>
    </td>
</tr>

</tbody>

<tfoot [hidden]="items.size== 0">
    <tr [hidden]="sale.discountRatio == null || sale.discountRatio <= 0"
        class="details">
        <th colspan="3" class="saleFooter reduction">
            Réduction {{ (sale.discountRatio * 100) | number:'.0' }}%
        </th>
        <th class="saleFooter reduction number">
            -{{ sale.discountAmount | currency:'EUR':true:'.2-2'}}
        </th>
    </tr>
    <tr class="details">
        <th colspan="3" class="saleFooter">Total HTVA</th>
        <th class="saleFooter number">{{ sale.vatExclusiveAmount | currency:'EUR':true:'.2-2'}}
        </th>
    </tr>
    <tr class="details">
        <th colspan="3" class="saleFooter">TVA</th>
        <th class="number saleFooter">{{ sale.vatAmount | currency:'EUR':true:'.2-2'}}</th>
    </tr>

    <tr>
        <th colspan="3" class="total saleFooter">Total</th>
        <th class="total price number saleFooter">
            {{ (sale.vatExclusiveAmount + sale.vatAmount) | currency:'EUR':true:'.2-2' }}
        </th>
    </tr>
</tfoot>
</table>