<div class="container" *ngIf="visible"
     [class.modal]="isModal"
     (click)="onContainerClick()">

    <div class="dialog">
        <header [hidden]="!isClosable && title == undefined">
            <h2 [hidden]="title == undefined">{{ title }}</h2>
            <span class="actions">
                <span class="action red"
                      [hidden]="!isClosable"
                      (click)="doClose()">
                <i class="fa fa-times"></i>
                    </span>
            </span>
        </header>
        <div class="content_container">
            <div class="content">
                <content></content>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>