<div class="editPos">

    <form #posForm="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="table">
            <div>
                <label>Langue</label>
                <lang-select [displayLanguage]="appLanguage"
                            [selectedLanguage]="editLanguage"
                            (languageChanged)="editLanguage = $event"></lang-select>
            </div>

            <div>
                <label for="name">Nom</label>
                <span>
                    <input id="name" type="text"
                           [(ngModel)]="pos.name"
                           ngControl="name">
                </span>
            </div>
            <div>
                <label for="description">Description</label>
             <textarea type="text" id="description" rows="3"
                       required
                       localized [language]="editLanguage"
                       [localeTexts]="pos.description"></textarea>
                <form-message for="description" check-errors="['required']"></form-message>
            </div>
        </div>
        <div class="actions">
            <button type="submit" [disabled]="!posForm.form.valid">Enregistrer</button>
        </div>
    </form>
</div>