<div class="formPage">
    <h1>Édition du point de vente</h1>

    <form #f="form" (ng-submit)="doSaveEdit()"
          *ng-if="posModel != undefined">
        <table>
            <tr>
                <td><label>Langue:</label></td>
                <td>
                        <span *ng-for="#lang of allLanguages">
                            <input type="radio" name="lang"
                                   [checked]="lang.locale == posModel.language"
                                   (change)="onLanguageSelected(lang)"
                                   [attr.id]="lang.locale">
                            <label [attr.for]="lang.locale">
                                {{ lang.label[language.locale] }}
                            </label>
                        </span>
                </td>
            </tr>
            <tr>
                <td><label for="name">Nom:</label></td>
                <td>
                    <input id="name" type="text" required
                           [(ng-model)]="posModel.name">
                </td>
            </tr>
            <tr>
                <td><label for="description">Description:</label></td>
                <td>
                    <textarea type="text" id="description" rows="3"
                              [(ng-model)]="posModel.description[posModel.language]">s</textarea>
                </td>
            </tr>

        </table>
        <div class="actions">
            <button type="submit" [disabled]="!f.form.valid">Enregistrer</button>
            <a [router-link]="['/posList']">Annuler</a>
        </div>
    </form>
</div>