<div class="langSelect">
    <span *ng-if="!dropDown">
        <span *ng-for="#lang of allLanguages">
            <input type="radio" name="lang"
                   [checked]="lang.is(selectedLanguage)"
                   (change)="onLanguageSelected(lang)"
                   [attr.id]="lang.get(locale)">
            <label [attr.for]="lang.get(locale)">
                {{ lang.get(label).get(displayLanguage.get(locale)) }}
            </label>
        </span>
    </span>

    <select (change)="onLanguageSelected($event)" *ng-if="dropDown">
        <option *ng-for="#lang of allLanguages"
                [value]="lang.get(locale)"
                [attr.id]="lang.get(locale)"
                [selected]="lang.is(selectedLanguage)">
            {{  lang.get(label).get(displayLanguage.get(locale))}}
        </option>
    </select>
</div>