<div class="langSelect">
    <span *ng-if="!dropDown">
        <span *ng-for="#lang of allLanguages">
            <input type="radio" name="lang"
                   [checked]="lang.locale === selectedLanguage.locale"
                   (change)="onLanguageSelected(lang)"
                   [attr.id]="lang.locale">
            <label [attr.for]="lang.locale">
                {{ lang.label.get(displayLanguage.locale) }}
            </label>
        </span>
    </span>

    <select (change)="onLanguageSelected($event)" *ng-if="dropDown">
        <option *ng-for="#lang of allLanguages"
                [value]="lang.locale"
                [attr.id]="lang.locale"
                [selected]="lang.locale == selectedLanguage.locale">
            {{  lang.label.get(displayLanguage.locale)}}
        </option>
    </select>
</div>