@import "../../../../styles/_constants";

span.appTab {
  text-align: center;
  height: 100%;
  display: inline-block;
  padding: 0 .5em;
  font-weight: bold;

  div.tab {
    vertical-align: bottom;
    padding-left: .5em;
    padding-right: .5em;

    a {
      font-size: 1.2em;
      color: white;
      background-color: transparent;
      display: inline-block;

      height: 100%;
      padding: .5em;
      vertical-align: middle;
      text-decoration: none;
    }
    &.active a {
      background-color: white;
      color: black;
      outline: none;
      box-shadow: none;
      pointer-events: none;
      tab-index: -1;

      &:hover {
        cursor: default;
      }
    }
    &.selectable:not(.active) a {
      &:hover {
        color: yellow;
        cursor: pointer;
      }
      &:focus {
        outline: 0.1em solid $onBlueFocusColor;
        box-shadow: 0 0 0.2em 0.1em $onBlueFocusColor;
      }
    }
    &:not(.selectable) &:not(.active) a {

      color: lightgray;

      tab-index: -1;
      &:hover {
        cursor: default;
      }
    }
  }
}