h1.pageTitle {
  font-size: 1.6em;
  margin: .5em 0; }

div.pageContent {
  text-align: center;
  font-size: 1em;
  margin: .5em; }

input, textarea, select, button {
  font-size: 1em; }

.blueLink {
  color: #6981B8; }

.actionLink:hover, .blueLink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer; }

.actionLink.disabled, .disabled.blueLink {
  color: lightgray;
  pointer-events: none; }

span.appTab {
  text-align: center;
  height: 100%;
  padding: 0 .5em;
  font-weight: bold; }
  span.appTab:not([hidden]) {
    display: inline-block; }
  span.appTab div.tab {
    vertical-align: bottom;
    padding-left: .5em;
    padding-right: .5em; }
    span.appTab div.tab a {
      font-size: 1.2em;
      color: white;
      background-color: transparent;
      display: inline-block;
      height: 100%;
      padding: .5em;
      vertical-align: middle;
      text-decoration: none; }
    span.appTab div.tab.active a {
      background-color: white;
      color: black;
      outline: none;
      box-shadow: none;
      pointer-events: none;
      tab-index: -1; }
      span.appTab div.tab.active a:hover {
        cursor: default; }
    span.appTab div.tab.selectable:not(.active) a:hover {
      color: yellow;
      cursor: pointer; }
    span.appTab div.tab.selectable:not(.active) a:focus {
      outline: 0.1em solid #FFFBA1;
      box-shadow: 0 0 0.2em 0.1em #FFFBA1; }
    span.appTab div.tab:not(.selectable):not(.active) {
      display: none; }
