<div class="payView" *ng-if="hasSale()">

    <div>
        <div class="toPayHeader coloredHeader"
             [class.inactive]="noInput"
             [hidden]="aSalePay.missingAmount <= 0">
            <h1>À payer</h1>
            <span class="busy">
                <span class="valignAnchor"></span>
                <img src="res/img/spinner-2-white.gif"
                     [hidden]="!aSalePay.dirty"/>
            </span>
            <span class="actions">
                <span class="valignAnchor"></span>
                <span class="total single">
                    {{ aSalePay.missingAmount | currency:'EUR':true:'.2-2' }}
                </span>
            </span>
        </div>

        <div class="toPayHeader coloredHeader"
             [class.inactive]="noInput"
             [hidden]="aSalePay.missingAmount > 0">
            <h1 [hidden]="noInput">À rendre</h1>
            <h1 [hidden]="!noInput">Rendu</h1>
            <span class="busy">
                <span class="valignAnchor"></span>
                <img src="res/img/spinner-2-white.gif"
                     [hidden]="!aSalePay.dirty"/>
            </span>

            <span class="actions">
                <span class="valignAnchor"></span>
                <span class="total"
                      [class.negative]="aSalePay.missingAmount < 0"
                      [class.exact]="aSalePay.missingAmount == 0">
                    {{ -aSalePay.missingAmount | currency:'EUR':true:'.2-2'}}
                </span>
                <span class="action validateLink"
                      [hidden]="noInput"
                      (click)="onValidateClicked()">
                    Valider
                </span>
            </span>
        </div>
    </div>

    <table class="payItems dataTable" [hidden]="aSalePay.payItems.length == 0">
        <thead>
        <tr>
            <th>Compte</th>
            <th class="number total">Montant</th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#pay of aSalePay.payItems" class="payItem">
            <td>
                <span *ng-if="pay.account != null">
                    {{ pay.account.description[language] }}
                </span>
            </td>
            <td class="number total">
                <a class="edit actionlink"
                   (^click)="startEditPayItem(pay)"
                   [hidden]="noInput">
                    {{ pay.amount | currency:'EUR':true:'.2-2' }}
                </a>
                <span [hidden]="!noInput">
                     {{ pay.amount | currency:'EUR':true:'.2-2' }}
                </span>
            </td>

            <td class="actions"  [hidden]="noInput">
                <a class="actionIcon remove" (^click)="removePayItem(pay)">
                    <i class="fi-x red"></i>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th class="right">Total</th>
            <th class="number total">
                {{ aSalePay.totalPayed | currency:'EUR':true:'.2-2' }}
            </th>
        </tr>

        </tfoot>
    </table>

    <div class="editMethod" *ng-if="editingPayItem != null"  [hidden]="noInput">
        <span class="method">{{ editingPayItem.account.description[language] }}</span>
        <span class="amount">
            Montant: <input #amount
                            [value]="editingPayItem.amount"
                            type="number" min="0.01" step="0.01"
                            [validator]="validatePayAmount"
                            (fast-change)="onEditingPayItemChange($event)"
                            fast-input> €
        </span>
    </div>

    <div class="addMethod" [hidden]="noInput">
        <div *ng-for="#account of allAccounts"
             class="boxedHoverableLink"
             (^click)="startEditPay(account)">
            {{ account.description[language] }}
        </div>
    </div>
</div>
