@import "../../../../styles/_main";

.toPayHeader {
  .total {
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
  }

  .actions > .total {
    display: inline-block;
    vertical-align: middle;
    padding-right: .5em;
  }

  .total.single {
    margin-top: .3em;
  }

  &:not(.inactive) {
    .total.negative {
      color: red;
    }
    .total.exact {
      color: green;
    }
  }
}

table.payItems {

  font-size: 1.1em !important;

  thead {
    display: none;
  }
  td, th {
    padding: .5em !important;
    width: 100%;
    &.actions, &.total {
      max-width: 1%;
      white-space: nowrap;
    }
    &.right, &.number {
      text-align: right;
    }
  }
}

.method {
  font-size: 1.1em;
  font-weight: bolder;
  padding: .2em;
}

.addMethod {
  font-size: 1.3em;
}

.addMethod > * {
  padding: 1em;
  margin: 1em;
}

.editMethod {
  border: 1px solid lightsteelblue;
  width: 100%;
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
    padding: .5em;
  }
  .amount {
    text-align: right;
  }

  input {
    font-size: 1em;
  }

  .editActions {
    > i {
      &:hover {
        cursor: pointer;
      }
      &.green {
        color: green;
        &:hover {
          color: lighten(green, 30%);
        }
      }
      &.red {
        color: red;
        &:hover {
          color: lighten(red, 30%);
        }
      }
    }
  }
}
