<div class="payView">
    <div>
        <div class="toPayHeader coloredHeader"
             [class.inactive]="noInput"
             [hidden]="toPayAmount <= 0">
            <h1>À payer</h1>
            <span class="busy">
                <span class="valignAnchor"></span>
                <img src="res/img/spinner-2-white.gif"
                     [hidden]="!isSearching()"/>
            </span>
            <span class="actions">
                <span class="valignAnchor"></span>
                <span class="total single">
                    {{  toPayAmount | currency:'EUR':true:'.2-2' }}
                </span>
            </span>
        </div>

        <div class="toPayHeader coloredHeader"
             [class.inactive]="noInput"
             [hidden]="toPayAmount > 0">
            <h1 [hidden]="noInput">À rendre</h1>
            <h1 [hidden]="!noInput">Rendu</h1>
            <span class="busy">
                <span class="valignAnchor"></span>
                <img src="res/img/spinner-2-white.gif"
                     [hidden]="!isSearching()"/>
            </span>

            <span class="actions">
                <span class="valignAnchor"></span>
                <span class="total"
                      [class.negative]="toPayAmount < 0"
                      [class.exact]="toPayAmount == 0">
                    {{ -toPayAmount  | currency:'EUR':true:'.2-2'}}
                </span>
                <span class="action validateLink"
                      [hidden]="noInput"
                      (click)="onValidateClicked()">
                    Valider
                </span>
            </span>
        </div>
    </div>

    <table class="payItems dataTable"
           [hidden]="accountingEntries.size <=  0">
        <thead>
        <tr>
            <th>Compte</th>
            <th class="number total">Montant</th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#entry of accountingEntries" class="payItem"
            [hidden]="isEditing(entry)">
            <td>
                <span>
                    {{ entry.account.description.get(language.locale)}}
                </span>
            </td>
            <td class="number total">
                <a class="edit actionlink"
                   (click)="startEditEntry(entry)"
                   [hidden]="noInput">
                    {{ entry.amount | currency:'EUR':true:'.2-2' }}
                </a>
                <span [hidden]="!noInput">
                     {{ entry.amount | currency:'EUR':true:'.2-2' }}
                </span>
            </td>

            <td class="actions" [hidden]="noInput">
                <a class="actionIcon remove" (click)="removeEntry(entry)">
                    <i class="fa fa-minus red"></i>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th class="right">Total</th>
            <th class="number total">
                {{ (activeSaleService.paidAmount) | currency:'EUR':true:'.2-2' }}
            </th>
        </tr>
        </tfoot>
    </table>

    <div class="editMethod" *ngIf="editingEntry != null" [hidden]="noInput">
        <span class="method">{{ editingEntry.account.description.get(language.locale) }}</span>
        <span class="amount">
            Montant: <input #amount
                            [initialValue]="editingEntry.amount"
                            type="number" min="0.01" step="0.01"
                            [validator]="validateEntryAmount"
                            (fastChange)="applyEditingEntry($event)"
                            (cancelled)="cancelEditEntry()"
                            fast-input> €
        </span>
         <span class="editActions">
                <i class="fa fa-check green" (click)="amount.doValidate()"></i>
                <i class="fa fa-times red" (click)="amount.doCancel()"></i>
        </span>
    </div>

    <div class="addMethod" [hidden]="noInput">
        <div *ngFor="#account of accountList"
             class="boxedHoverableLink"
             (click)="addAccountingEntry(account)">
            {{ account.description.get(language.locale) }}
        </div>
    </div>
</div>
