@import '../../../styles/_dataTable';

.itemList {

  .name {
    font-weight: bold;
  }

  .ref {
    font-size: .8em;
    font-family: monospace;
    text-align: left;
    max-width: 10%;
  }

  .desc {
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .picture {
    img {
      max-height: 3em;
      display: inline-block;
      vertical-align: middle;
    }
    .imagePlaceover {
      font-size: 3em;
    }
  }
}

