@import "styles/_main";

.headerNav:hover {
    color: $onBlueHoverColor;
    cursor: pointer;
}

section {
    min-height: 90vh;
    overflow-y: auto;
}

section > * {
    height: 100%;
}

footer {
    color: white;
    background-color: gray;
    font-size: 1.5vh;
}