<div class="app" requireslogin (requires-login)="onLoginRequired($event)">
    <header class="coloredHeader">
        <navMenu></navMenu>
    </header>
    <section>
        <router-outlet *ng-if="loginRequired == false"></router-outlet>
    </section>
    <footer>
        {{ appService.appName }} {{ appService.appVersion }}
    </footer>
    <dialogview modal="true" closable="true" title="Erreur" *ng-if="appService.hasError"
            (close)="onErrorClose()">
        <p [inner-html]="appService.errorHeader">
        </p>
        <p class="errorMessage"
           [inner-html]="appService.errorContent">
        </p>
        <p [inner-html]="appService.errorFooter">
        </p>
    </dialogview>
</div>
