<div class="itemList">

    <table class="dataTable">
        <thead [hidden]="!headersVisible">
        <tr>
            <th *ng-for="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                    <span *ng-if="col.title != undefined">
                        {{ col.title[locale] }}
                    </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#item of items"
            [class.selectable]="rowSelectable"
            (click)="onItemClick(item, $event)"
            focusable>
            <td *ng-for="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                <itemColumn class="column"
                        (action)="onColumnAction($event)"
                        [item]="item"
                        [column]="col"
                        [lang]="locale">
                </itemColumn>
            </td>
        </tr>
        </tbody>
    </table>
</div>
