<div [ngSwitch]="column.name">
    <template [ngSwitchWhen]=" 'id'">
        <span class="id">
            {{ item.id }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'ref'">
        <span class="ref">
            {{ item.reference }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'name'">
        <span class="name">
            {{ item.name.get(lang.locale) }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'desc'">
        <span class="desc"
                [innerHtml]="item.description.get(lang.locale)">
        </span>
    </template>
    <template [ngSwitchWhen]=" 'name_and_description'">
        <div class="name">
            {{ item.name.get(lang.locale) }}
        </div>
        <div class="desc" [innerHtml]="item.description.get(lang.locale)">
        </div>
    </template>
    <template [ngSwitchWhen]=" 'picture'">
        <span class="picture">
           <img [src]="item.mainPicture.dataURI" *ngIf="item.mainPicture?.dataURI !== null">

            <div class="imagePlaceover" *ngIf="item.mainPicture?.dataURI === null">
                <i class="fa fa-book"></i>
            </div>
        </span>
    </template>
    <template [ngSwitchWhen]=" 'vat_exclusive'">
        <span class="vat_exclusive price">
           {{ item.vatExclusive | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'vat_rate'">
        <span class="vat_rate price">
            {{ ( item.vatRate * 100 )| number:'.0' }} %
        </span>
    </template>
    <template [ngSwitchWhen]=" 'vat_inclusive'">
        <span class="vat_inclusive price">
            {{ ( item.vatExclusive * ( 1 + item.vatRate) ) | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'action_remove'">
        <span class="action remove">
            <a class="actionIcon"
               (click)="onColumnAction(item, column, $event)">
                <i class="fa fa-minus red"></i>
            </a>
        </span>
    </template>
</div>

