<div [ngSwitch]="column.name">
    <template [ngSwitchWhen]=" 'id'">
        <span class="id">
            {{ balance.id }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'account'">
        <span class="account">
            {{ balance.account.name }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'dateTime'">
        <span class="dateTime">
            {{ balance.dateTime | date:'ddMMyyyy HHmm' }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'balance'">
        <span class="balance">
            {{ balance.balance | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'comment'">
        <span class="comment">
           {{ balance.comment }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'closed'">
        <span class="closed">
              <i class="fa fa-check" *ngIf="balance.closed"></i>
              <i class="fa fa-times" *ngIf="!balance.closed"></i>
        </span>
    </template>
    <template [ngSwitchWhen]=" 'type'">
    </template>
    <template [ngSwitchWhen]=" 'action_remove'">
        <span class="action remove">
            <a class="actionIcon"
               (click)="onColumnAction(balance, column, $event)">
                <i class="fa fa-minus red"></i>
            </a>
        </span>
    </template>
</div>

