<div class="editAccout">

    <form #accountForm="ngForm" (submit)="onFormSubmit()">
        <div class="table">
            <div>
                <label>Langue</label>
                <lang-select [displayLanguage]="appLanguage"
                            [selectedLanguage]="editLanguage"
                            (languageChanged)="editLanguage = $event"></lang-select>
            </div>
            <div>
                <label for="type">Type</label>
                <span>
                    <select id="type" validate-required autofocus
                            ngControl="accountType"
                            [(ngModel)]="accountModel.accountType">
                        <option *ngFor="#accountType of allAccountTypes"
                                [value]="accountType">
                            {{ getAccountTypeLabel(accountType) }}
                        </option>
                    </select>
                    <form-message for="accountType" check-errors="['required']"></form-message>
                </span>
            </div>
            <div>
                <label for="name">Nom</label>
                <span>
                    <input id="name" type="text" validate-required
                           [(ngModel)]="accountModel.name"
                           ngControl="name">
                    <form-message for="name" check-errors="['required']"></form-message>
                </span>
            </div>
            <div>
                <label for="description">Description</label>
             <textarea type="text" id="description" rows="3"
                       localized [language]="editLanguage"
                       [localeTexts]="accountModel.description"></textarea>
            </div>
            <div>
                <label for="number">Numéro de comptabilité</label>
                <input type="text" id="number"
                       [(ngModel)]="accountModel.accountingNumber">
            </div>
            <div>
                <label for="iban">IBAN</label>
                <input type="text" id="iban"
                       [(ngModel)]="accountModel.iban">
            </div>
            <div>
                <label for="bic">BIC</label>
                <input type="text" id="bic"
                       [(ngModel)]="accountModel.bic">
            </div>

        </div>
        <div class="actions">
            <button type="submit" [disabled]="!accountForm.form.valid">Enregistrer</button>
        </div>
    </form>
</div>