<div class="sellView">
    <table>
        <tr>
            <td class="itemList" *ng-if="commandValidated == false">
                <itemList (item-clicked)="onItemClicked($event)"></itemList>
            </td>
            <td class="commandView">
                <commandView #commandView (validate)="onCommandValidated($event)" [validated]="commandValidated"></commandView>
            </td>
            <td class="payView" *ng-if="commandValidated == true">
                <payView (paid)="onCommandPaid($event, commandView)"></payView>
            </td>
        </tr>
    </table>
</div>