@import '../../../styles/_dataTable';

.itemList {
  position: relative;
}

.name {
  font-size: 1em;
  font-weight: bold;
}

.model {
  font-size: .8em;
  font-weight: lighter;

}

.price {
  text-align: right;
  font-size: 1.1em;
}

.ref {
  font-size: .8em;
  font-family: monospace;
  text-align: left;
  max-width: 10%;
}

.description {
  font-size: .8em;
  max-width: 20%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.picture {
  height: 3em;
  img {
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .imagePlaceover {
    font-size: 3em;
  }
}
