<div class="pageContent">
    <h1 class="pageTitle">Historique des ventes</h1>

    <img class="busy"
         src="../../../res/img/spinner-2-black.gif"
         [hidden]="searchRequest.request == null">


    <div class="topActions">

    </div>

    <paginator *ng-if="searchResult != null"
               [total-count]="searchResult.count"
               [page-size]="salesPerPage"
               [show-prev-next-link]="true" [show-first-last-link]="true"
               (page-change)="onPageChanged($event)"></paginator>
    <saleList *ng-if="searchResult != null"
              [sales]="searchResult.list"
              [columns]="columns"
              [selectable]="true"
              [headers]="true"
              (sale-clicked)="onSaleClicked($event)"
              (column-action)="onColumnAction($event)">
    </saleList>
</div>
