@import '../../../../styles/_main';

.filter {
  padding: .5em;
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    width:15em;
  }
  input, button {
    font-size: 1em;
  }
}
