<div class="paginator" [hidden]="totalCount <= pageSize || totalCount == null">
    <a class="first" [hidden]="!showFirstLastLink"
          [class.disabled]="!hasPrev()"
            (click)="goToFirst()">
        ◂◂
    </a>
    <a class="prev" [hidden]="!showPrevNextLink"
          [class.disabled]="!hasPrev()"
          (click)="goToPrev()">
        ◂
    </a>
    <a class="page" *ngFor="#page of pages"
          [class.active]="page == activePage"
          [class.disabled]="page == activePage"
          (click)="goToPage(page)">
        {{ page }}
    </a>
    <a class="next" [hidden]="!showPrevNextLink"
          [class.disabled]="!hasNext()"
          (click)="goToNext()">
        ▸
    </a>
    <a class="last" [hidden]="!showFirstLastLink"
          [class.disabled]="!hasNext()"
          (click)="goToLast()">
        ▸▸
    </a>
</div>