@import '../../../styles/_main';

.paginator {
  display: block;
  text-align: center;
  padding: .2em;

  >a
  {
    @extend .lightBlueLink;
    padding-left: .2em;
    padding-right: .2em;
    display: inline-block;
    margin: .1em;
  }

  >a.active {
    color: black !important;
    border: .1em solid black;
  }

}