<div class="pageContent">

    <form #itemForm="ngForm" class="left"
          (ngSubmit)="onFormSubmit()"
          enctype="multipart/form-data">

        <div class="table">
            <div>
                <label for="picture">Image</label>

                <div>
                    <img [src]="picture.dataURI"
                         class="itemPicturePreview"
                         *ngIf="picture != null">
                    <input type="file" id="picture" accept="image/*"
                           (change)="onPictureFileSelected($event)">
                </div>
            </div>
            <div>
                <label for="reference">Référence</label>
                <span>
                    <input type="text" id="reference"
                           [placeholder]="itemVariantModel.item.reference"
                           [(ngModel)]="itemVariantModel.variantReference"
                           ngControl="reference" required>
                    <form-message for="reference"
                                 check-errors=" ['required']"></form-message>
                </span>
            </div>
            <div>
                <label for="pricing">Type de tarification</label>
                <span>
                    <select id="pricing"
                            [(ngModel)]="itemVariantModel.pricing"
                            (change)="onPricingChanged($event)"
                            ngControl="pricing" required>
                        <option *ngFor="#pricing of allPricings"
                                [value]="pricing">
                            {{ getPricingLabel(pricing) }}
                        </option>
                    </select>
                    <form-message for="pricing"
                                 check-errors="['required']"></form-message>
                </span>
            </div>
            <div>
                <label for="pricingAmount">Tarif</label>
                <span>
                    <span [hidden]="!pricingAmountRequired">
                        <input class="number" type="number"
                               [value]="itemVariantModel.pricingAmount"
                               (input)="setPricingAmount($event)"
                               [attr.validate-required]="pricingAmountRequired"
                               min="0" step="0.01" id="pricingAmount" size="5"
                               ngControl="pricingAmount">
                        €
                    </span>
                    <div class="totalPreview">
                        <span>
                            Total (TVAC): {{ getItemVariantTotalPrice() | currency:'EUR':true:'.2-2' }}
                        </span>
                    </div>
                    <form-message for="pricingAmount"
                                 check-errors="['required']"></form-message>
                </span>
            </div>
        </div>
        <div class="actions">
            <button type="submit"
                    [disabled]="!itemForm.form.valid">Enregistrer</button>
            <a (click)="onCancelClicked()" class="blueLink">Retour</a>
        </div>
    </form>

    <form #attributeForm="ngForm" class="right"
          (ngSubmit)="doAddAttribute()">
        <h3>Attributs</h3>

        <table class="dataTable">
            <tbody>
            <tr class="attribute"
                *ngFor="#attribute of itemVariant.attributeValues">
                <td class="definition">
                    {{ attribute.attributeDefinition?.name.get(editLanguage.locale) }}
                </td>
                <td class="value">
                    {{ attribute.value.get(editLanguage.locale) }}
                </td>
                <td class="actions">
                    <a class="actionIcon"
                          (click)="doRemoveAttribute(attribute)">
                        <i class="fa fa-minus red"></i>
                    </a>
                </td>
            </tr>
            <tr class="attribute unsaved"
                *ngFor="#attribute of unsavedAttributes">
                <td class="definition">
                    {{ attribute.attributeDefinition?.name.get(editLanguage.locale) }}
                </td>
                <td class="value">
                    {{ attribute.value.get(editLanguage.locale) }}
                </td>
                <td class="actions">
                    <a class="actionIcon"
                       (click)="doRemoveAttribute(attribute)">
                        <i class="fa fa-minus red"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form">
            <div class="language">
                <lang-select [displayLanguage]="appLanguage"
                            [selectedLanguage]="editLanguage"
                            (languageChanged)="editLanguage = $event"></lang-select>
            </div>
            <div class="attribute">
                <input class="definition"
                       required
                       placeholder="Clef"
                       localized [language]="editLanguage"
                       [localeTexts]="newAttributeValue.attributeDefinition.name">
                <input class="value"
                       required
                       placeholder="Valeur"
                       localized [language]="editLanguage"
                       [localeTexts]="newAttributeValue.value">
                <button type="submit" [disabled]="!attributeForm.form.valid"
                        class="boxedLink">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

        </div>
    </form>
</div>