
<form id="posSelectForm" style="display: inline-block;"
        *ng-if="searchResult != null">
    <select [value]="posId" [hidden]="searchResult.count <= 1 || !editable"
            (change)="onPosChanged($event)">
        <option *ng-for="#posOption of searchResult.list"
                [value]="posOption.id">
            {{ posOption.description[language.locale] }}
        </option>
    </select>
    <span [hidden]="searchResult.count >1 || pos == null">
        <strong *ng-if="pos != null">{{ pos.description[language.locale] }}</strong>
    </span>
</form>