<div class="editPage pageContent">
    <h1 class="pageTitle">Comptage de la caisse</h1>

    <div class="mainPane leftPane">
        <div class="info">
            <div class="title">
                Point de vente
            </div>
            <div class="value pos">
                <posSelect [editable]="true"
                        (pos-changed)="onPosChanged($event)"></posSelect>
            </div>

            <div class="title">
                Compte
            </div>
            <div class="value">
                <div [hidden]="accountSearchResult.count < 2">
                    <select (input)="onAccountChanged($event)" [value]="accountId">
                        <option [value]="null" [hidden]="account != null"
                                [selected]="accountId == null">Choisissez un compte</option>
                        <option *ng-for="#accountOption of accountSearchResult.list" [value]="accountOption.id"
                                [selected]="accountId == accountOption.id">
                            {{ accountOption.description[appLanguage.locale] }}
                        </option>
                    </select>
                </div>
                <div *ng-if="account != null" [hidden]="accountSearchResult.count > 1">
                    {{ account.description[appLanguage.locale] }}
                </div>
            </div>

            <div class="title" [hidden]="lastBalance == null">
                Dernière validation
            </div>
            <div class="value" *ng-if="lastBalance != null">
                <span class="title light">
                    {{ lastBalance.dateTime | date:'dd/MM/yyyy HH:mm' }}
                </span>
                <span>
                    {{ lastBalance.balance | currency:'EUR':true:'.2-2' }}
                </span>
            </div>
        </div>
    </div>

    <div class="mainPane rightPane">
        <balanceCountComponent *ng-if="account != null"
                       [account]="account"
                       (validated)="onBalanceValidated($event)"
                       (cancelled)="onBalanceCancelled()">

        </balanceCountComponent>
    </div>
</div>
