<div class="formPage">
    <h1>Paramètres généraux</h1>

    <form #form="form" (ng-submit)="doSave(form)">
        <table>
            <tr>
                <td class="label">
                    <label for="employee">Loggé comme:</label>
                </td>
                <td class="field">
                    <label id="employee"
                           *ng-if="employeeValue != undefined">
                        {{ employeeValue.firstName }} {{ employeeValue.lastName}}
                    </label>
                </td>
            </tr>
            <tr>
                <td class="label">
                    <label for="company">Compagnie:</label>
                </td>
                <td class="field">
                    <label id="company"
                           *ng-if="companyValue != undefined">
                        {{ companyValue.name[language.locale] }}
                    </label>
                </td>
            </tr>
            <tr>
                <td class="label">
                    <label for="locale">Langue:</label>
                </td>
                <td class="field">
                    <select #localeField id="locale" (change)="onLocaleSelected($event)">
                        <option *ng-for="#lang of allLanguages"
                                [selected]="lang == language"
                                [value]="lang.locale">
                            {{ lang.label[language.locale] }}
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="submit">Enregistrer</button>
    </form>
</div>