<div class="commandView">
    <header class="coloredHeader">
        <h1>Commande</h1>

        <div class="actions" *ng-if="commandService.getItems().length > 0">
            <div class="action clear" (click)="doClearCommand()"  *ng-if="validated == false">Effacer</div>
            <div class="action reduction" *ng-if="validated == false"
                 (^click)="editingGlobalReduction = true"  "
                    [class.has-reduction] = "commandService.globalReduction > 0">
                <span *ng-if="editingGlobalReduction == false && !(commandService.globalReduction > 0)">
                    Réduction
                </span>
                <span *ng-if="editingGlobalReduction == false && commandService.globalReduction > 0">
                    -{{ commandService.globalReduction}} %
                </span>
                <span *ng-if="editingGlobalReduction">
                    <input #reduction [value]="commandService.globalReduction"
                           (keyup)="applyGlobalReduction($event)"
                           (blur)="cancelGlobalReduction()"
                           size="2" autoFocus/>
                    %
                </span>
            </div>
            <div class="action cashIn" (click)="doValidate()" *ng-if="validated == false">Encaisser</div>
            <div class="action cashIn" (click)="doUnvalidate()" *ng-if="validated == true">Retour</div>
        </div>
    </header>
    <table class="dataTable">
        <thead *ng-if="commandService.getItems().length > 0">
        <tr>
            <th>Ref</th>
            <th>Nom</th>
            <th class="amount number">Quantité</th>
            <th class="price number">Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#commandItem of commandService.items"
            class="commandItem">

            <td class="ref">
                <span [hidden]="commandItem.item.reference == null">
                    {{ commandItem.item.reference }}
                </span>
            </td>
            <td class="name">
                {{ commandItem.item.name.text }}
            </td>
            <td class="amount number">
                <div [hidden]="commandItem.amount <= 1 || editingAmountItem == commandItem">
                        <span class="count">
                            {{ commandItem.amount }} x
                        </span>
                        <span class="price">
                            {{ commandItem.item.currentPrice | currency:'EUR':true:'.2-2'  }}
                        </span>
                </div>
                <span class="editAmount" *ng-if="editingAmountItem == commandItem">
                    <input #amount [value]="commandItem.amount"
                           (keyup)="applyItemAmount($event)"
                           (blur)="cancelItemAmount()"
                           size="4" autoFocus/>
                </span>
            </td>
            <td class="price number">
                <span class="reduction" *ng-if="commandItem.reduction > 0 && editingReductionItem != commandItem">
                    -{{commandItem.reduction}}%
                </span>
                <span class="setReduction" *ng-if="editingReductionItem == commandItem">
                    <input #reduction [value]="commandItem.reduction"
                           (keyup)="applyItemReduction($event)"
                           (blur)="doCancelItemReduction()"
                           size="2" autoFocus/>
                    %
                </span>
                {{ commandItem.price | currency:'EUR':true:'.2-2' }}
            </td>
            <td class="rowActions" >
                <span class="valignAnchor"></span>
                <span class="actions" *ng-if="validated == false" >
                    <a class="remove" (click)="doClearItem(commandItem)">Supprimer</a>
                    <a class="amount" (click)="doEditItemReduction(commandItem);">Réduction</a>
                    <a class="reduction" (click)="doEditItemAmount(commandItem);">Quantité</a>
                </span>

            </td>
        </tr>

        </tbody>
        <tfoot  *ng-if="commandService.getItems().length > 0">
        <tr *ng-if="commandService.globalReduction > 0">
            <th colspan="4" class="reduction">
                Réduction: {{commandService.globalReduction}} %
            </th>
        </tr>
        <tr class="total">
            <th colspan="3" class="total">Total:</th>
            <th class="total price number">{{ commandService.totalPrice  | currency:'EUR':true:'.2-2'}} </th>
        </tr>
        </tfoot>
    </table>
    <div class="newItem" *ng-if="validated == false">
        <h2>Ajouter un produit</h2>

        <input #name placeholder="Nom" class="name"
                [value]="toAddItem.name" (keyup)="toAddItem.name = name.value">
        <input #amount placeholder="Quantité" class="amount"
               [value]="toAddItem.amount" (keyup)="toAddItem.amount= amount.value">
        <input #price placeholder="Prix unitaire" class="price"
               [value]="toAddItem.price" (keyup)="toAddItem.price= price.value">
        <button (click)="doAddCustomItem()">Ajouter</button>
    </div>
</div>