.coloredHeader {
  background: lightsteelblue;
  color: white;
  display: table;
  width: 100%; }
  .coloredHeader > * {
    display: inline-block;
    vertical-align: middle;
    padding: .5em; }
  .coloredHeader h1 {
    display: inline-block;
    margin: 0;
    padding-right: .5em; }
  .coloredHeader .actions {
    float: right;
    text-align: right; }
    .coloredHeader .actions .action {
      font-weight: bolder;
      cursor: pointer;
      display: inline-block;
      padding: .5em;
      border: 1px solid transparent; }
    .coloredHeader .actions .action:hover {
      border: 1px solid yellow;
      color: yellow; }

.boxedHoverableLink {
  border: 0.09em solid lightsteelblue;
  font-weight: bolder;
  padding: .3em;
  margin: .3em; }

.boxedHoverableLink:hover {
  background-color: lightblue;
  cursor: pointer; }

.lightBlueLink, table.dataTable td.rowActions a, header .commandsMenu .command:not([hidden]) span.name, header .commandsMenu .links a:not([hidden]) {
  color: steelblue; }

.lightBlueLink:hover, table.dataTable td.rowActions a:hover, header .commandsMenu .command:not([hidden]) span.name:hover, header .commandsMenu .links a:hover:not([hidden]) {
  text-decoration: underline;
  color: black;
  cursor: pointer; }

table.dataTable {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  position: relative; }
  table.dataTable tr {
    height: 1.5em; }
  table.dataTable tbody > tr:not(:last-child) {
    border-bottom: 1px solid lightgray; }
  table.dataTable td, table.dataTable th {
    padding: .2em;
    vertical-align: middle;
    text-align: left; }
  table.dataTable td.center, table.dataTable th.center {
    text-align: center; }
  table.dataTable td.number, table.dataTable td.total, table.dataTable th.number, table.dataTable th.total {
    text-align: right; }
  table.dataTable td.ref {
    font-size: .8em;
    font-family: monospace;
    text-align: left;
    max-width: 10%; }
  table.dataTable td.rowActions {
    position: absolute;
    left: 0;
    height: 1.5em;
    z-index: 1;
    padding: 0; }
    table.dataTable td.rowActions > .actions {
      background-color: rgba(255, 255, 255, 0.9);
      display: none;
      padding-left: .5em;
      font-size: .8em;
      vertical-align: middle; }
    table.dataTable td.rowActions a {
      padding-right: .5em;
      display: inline-block;
      vertical-align: middle; }
  table.dataTable tr:hover > td.rowActions > .actions {
    display: inline-block; }

span.valignAnchor {
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

img.itemPicture.medium {
  max-width: 15vw;
  max-height: 15vh; }

img.itemPicture.large {
  max-width: 25vw;
  max-height: 25vh; }

img.itemPicture.list {
  max-width: 5em;
  max-height: 2em; }

a.disabled, a.disabled:hover {
  color: lightgray !important;
  text-decoration: none !important;
  cursor: default !important; }

header h1 {
  font-size: 1.3em; }
header .commandNav {
  height: 100%; }
header .commandNav > *:not(.commandsMenu) {
  display: inline-block;
  vertical-align: middle; }
header .commandNav:not(.disabled):hover {
  color: yellow;
  cursor: pointer; }
header .actions > .reduction > span {
  display: block;
  height: 100%; }
header .actions > .reduction input {
  font-size: 1em; }
header .actions > .reduction.has-reduction {
  color: red; }
header .commandsMenu {
  position: absolute;
  border: 0.2em solid lightsteelblue;
  background: white;
  padding: .5em;
  font-size: .9em;
  color: black;
  z-index: 2; }
  header .commandsMenu .command:not([hidden]) {
    display: table;
    width: 100%;
    padding: .2em; }
    header .commandsMenu .command:not([hidden]) > span:not([hidden]) {
      display: table-cell;
      vertical-align: middle; }
    header .commandsMenu .command:not([hidden]) span.total {
      text-align: right; }
    header .commandsMenu .command:not([hidden]) span.reduction {
      text-align: right;
      color: red;
      font-size: .7em; }
  header .commandsMenu .links {
    margin-top: .5em; }
    header .commandsMenu .links a:not([hidden]) {
      display: block;
      padding: .2em; }

table {
  font-size: 1.1em !important; }
  table td, table th {
    padding: .5em !important; }
  table td.amount, table th.amount {
    padding-right: 1em; }
  table td.amount .editAmount * {
    font-size: .8em; }
  table td.price .reduction {
    font-size: .8em;
    color: red;
    padding-right: .2em; }
  table td.price .setReduction {
    font-size: .8em; }
  table td.price .setReduction * {
    font-size: .8em; }
  table tfoot {
    border-top: 1px solid black; }
    table tfoot tr.details {
      font-size: .8em;
      color: gray; }
    table tfoot th {
      text-align: right;
      font-size: .9em;
      font-weight: normal; }
    table tfoot .total {
      font-size: 1.1em;
      font-weight: bold; }

.newItem {
  font-size: 1em;
  padding: .5em;
  border: 1px solid lightsteelblue; }

.newItem h2 {
  font-size: 1em;
  font-weight: bolder;
  margin: 0; }

.newItem input, .newItem button {
  font-size: .9em; }

.newItem .ref {
  width: 10%; }

.newItem .name {
  width: 50%; }

.newItem .price {
  width: 15%; }

.newItem .amount {
  width: 10%; }

/*# sourceMappingURL=commandView.css.map */
