@import '../../../styles/_main';

header {
  h1 {
    font-size: 1.3em;
  }
  .commandNav {
    height: 100%;
  }
  .commandNav > *:not(.commandsMenu) {
    display: inline-block;
    vertical-align: middle;
  }
  .commandNav:not(.disabled):hover {
    color: $onBlueHoverColor;
    cursor: pointer;
  }

  .actions > .reduction > span {
    display: block;
    height: 100%;
  }
  .actions > .reduction input {
    font-size: 1em;
  }
  .actions > .reduction.has-reduction {
    color: red;
  }
  .commandsMenu {
    position: absolute;
    border: .2em solid $blueColor;
    background: white;
    padding: .5em;
    font-size: .9em;
    color: black;
    z-index: 2;

    .command:not([hidden]) {
      display: table;
      width: 100%;
      padding: .2em;
    ;
      > span:not([hidden
      ]) {
        display: table-cell;
        vertical-align: middle;
      }
      span.name {
        @extend .ligthBlueLink;
      }
      span.total {
        text-align: right;
      }
      span.reduction {
        text-align: right;
        color: red;
        font-size: .7em;
      }
    }

    .links {
      margin-top: .5em;
      a:not([hidden ]) {
        @extend .ligthBlueLink;
        display: block;
        padding: .2em;
      }
    }
  }
}


table {
  font-size: 1.1em !important;

  td, th {
    padding: .5em !important;
  }

  td.amount, th.amount {
    padding-right: 1em;
  }

  td.amount .editAmount * {
    font-size: .8em;
  }

  td.price  {.reduction {
    font-size: .8em;
    color: red;
    padding-right: .2em;
  }
    .setReduction {
      font-size: .8em;
    }

    .setReduction * {
      font-size: .8em;
    }
  }

  tfoot {
    border-top: 1px solid black;

    tr.details {
      font-size: .8em;
      color: gray;
    }

    th {
      text-align: right;
      font-size: .9em;
      font-weight: normal;
    }
    .total {
      font-size: 1.1em;
      font-weight: bold;
    }
  }

}
table td, table th {

}



td.price

td.price


tfoot

tfoot


.newItem {
  font-size: 1em;
  padding: .5em;
  border: 1px solid lightsteelblue;
}

.newItem h2 {
  font-size: 1em;
  font-weight: bolder;
  margin: 0;
}

.newItem input, .newItem button {
  font-size: .9em;
}

.newItem .ref {
  width: 10%;
}

.newItem .name {
  width: 50%;
}

.newItem .price {
  width: 15%;
}

.newItem .amount {
  width: 10%;
}