<div class="saleList listPage">
    <div class="dataTable">
        <div class="dataTableHead"
             [hidden]="headers == false">
            <div class="dataTableRow">
            <span class="dataTableCell"
                  *ng-for="#col of columns"
                  [class.right]="col.alignRight">
                    <span *ng-if="col.title != undefined">
                        {{ col.title[language] }}
                    </span>
            </span>
            </div>
        </div>
        <div class="dataTableBody" *ng-if="sales != undefined">
            <div *ng-for="#sale of sales"
                 class="dataTableRow sale"
                 [class.selectable]="selectable"
                 [attr.focusable]="selectable">
                <saleColumn *ng-for="#col of columns"
                            class="dataTableCell"
                            (action)="onColumnAction($event)"
                            (^click)="onSaleClick(sale, col)"
                            [class.right]="col.alignRight"
                            [sale]="sale"
                            [column]="col"
                            [lang]="language"></saleColumn>
            </div>
        </div>
    </div>
</div>
