<div class="listPage">
    <h1>Édition des comptes</h1>
    <img class="busy" src="../../../res/img/ajax-loader.black.gif" [hidden]="!loading">

    <div class="topActions">

    </div>
    <paginator *ng-if="accountSearchResult != undefined"
               [total-count]="accountCount"
               [page-size]="accountsPerPage"
               show-prev-next="true" show-first-last="true"
               (page-change)="onPageChanged($event)"></paginator>
    <table class="accounts" *ng-if="accountSearchResult != undefined">
        <thead>
        <tr>
            <th>Type</th>
            <th>Nom</th>
            <th>Description</th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#account of accountSearchResult.list" class="account" (^click)="doEditAccount(account)">
            <td class="type">{{ getAccountTypeLabel(account.accountType) }}</td>
            <td class="name">{{ account.name }}</td>
            <td class="desc">{{ account.description[language] }}</td>
            <td class="actions">
                <a class="remove actionIcon" (^click)="doRemoveAccount(account)">
                    <i class="fi-x red"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
