<div class="saleView">
    <div class="header">
        <span>Point de vente :</span>
        <span><posSelect (pos-changed)="onPosChanged($event)"
                [attr.editable]="!saleClosed"></posSelect></span>
    </div>
    <div class="wrapper">
        <div class="saleViewContainer" [class.slide-left]="payStep"  [class.no-anim]="saleClosed || newSale">
            <div class="itemList" >
                <div>
                    <itemListView id="saleItemList"
                                  (item-clicked)="onItemClicked($event)"></itemListView>
                </div>
            </div>
            <div class="commandView" >
                <div>
                    <commandView id="saleCommandView"  *ng-if="activeSaleService.sale != null"
                                 (sale-emptied)="onSaleEmptied()"
                                 (validate-changed)="onValidateChanged($event)"
                                 [validated]="payStep"
                                 [no-input]="saleClosed"></commandView>
                </div>
            </div>
            <div class="payView">
                <div>
                    <payView id="salePayView"  *ng-if="activeSaleService.sale != null"
                             [sale-total]="activeSaleService.getSaleTotalAmount()"
                             [paid-amount]="activeSaleService.paidAmount"
                             [sale]="activeSaleService.sale"
                             [accounting-entries]="activeSaleService.accountingEntriesResult.list"
                             (paid)="onCommandPaid()"
                             [no-input]="saleClosed"></payView>
                </div>
            </div>
        </div>
    </div>
</div>