/**
 * Created by cghislai on 03/09/15.
 */
h1.pageTitle {
  font-size: 1.6em;
  margin: .5em 0; }

div.pageContent {
  text-align: center;
  font-size: 1em;
  margin: .5em; }

input, textarea, select, button {
  font-size: 1em; }

.blueLink {
  color: #6981B8; }

.actionLink:hover, .blueLink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer; }

.actionLink.disabled, .disabled.blueLink {
  color: lightgray;
  pointer-events: none; }

.boxedLink, form div.actions button {
  border: 0.1em solid #8BAAF2;
  font-weight: bolder;
  padding: .3em;
  margin: .3em;
  color: black;
  text-decoration: none;
  background-color: white; }
  .boxedLink:not([hidden]), form div.actions button:not([hidden]) {
    display: inline-block; }
  .boxedLink:hover, form div.actions button:hover {
    background-color: rgba(139, 170, 242, 0.5);
    cursor: pointer;
    text-decoration: none; }
  .boxedLink:focus, form div.actions button:focus {
    background-color: rgba(139, 170, 242, 0.5); }
  .boxedLink[disabled], form div.actions button[disabled], .boxedLink[disabled]:focus, form div.actions button[disabled]:focus, .boxedLink[disabled]:hover, form div.actions button[disabled]:hover {
    border-color: lightgray;
    background-color: white;
    text-decoration: none;
    color: darkgray;
    cursor: default; }

form {
  display: inline-block;
  padding: 1em; }
  form input, form button, form textarea, form select {
    font-size: 1em;
    padding: .1em; }
    form input.ng-invalid, form button.ng-invalid, form textarea.ng-invalid, form select.ng-invalid {
      outline: .08em solid red; }
  form textarea {
    font-size: .9em;
    font-weight: normal;
    font-family: sans-serif;
    font-variant: normal; }
  form button[type=submit] {
    font-size: 1em; }
  form h2 {
    font-size: 1.4em;
    margin: .3em;
    margin-top: 1em; }
  form div.table:not([hidden]) {
    display: inline-table; }
  form div.table > div:not([hidden]) {
    display: table-row;
    text-align: left;
    padding: .3em; }
    form div.table > div:not([hidden]) > input, form div.table > div:not([hidden]) > textarea, form div.table > div:not([hidden]) > select {
      margin: .3em; }
    form div.table > div:not([hidden]) > :not(input):not(textarea):not(select) {
      padding: .3em; }
    form div.table > div:not([hidden]) > *:not([hidden]) {
      display: table-cell;
      vertical-align: middle; }
      form div.table > div:not([hidden]) > *:not([hidden]):first-child {
        text-align: right;
        font-size: .8em;
        font-weight: lighter;
        padding-right: .5em;
        vertical-align: top;
        padding-top: .8em; }
  form > div:not(.table) {
    margin: .5em; }
  form div.actions {
    display: block;
    text-align: center; }
