<div class="langSelect">
    <span *ng-if="!dropDown">
        <span *ng-for="#lang of allLanguages">
            <input type="radio" [name]="getId('lang')"
                   [checked]="lang.locale == selectedLanguage.locale"
                   (change)="onLanguageSelected(lang)"
                   [attr.id]="getId(lang.locale)">
            <label [attr.for]="getId(lang.locale)">
                {{ lang.label.get(displayLanguage.locale) }}
            </label>
        </span>
    </span>

    <select (change)="onLanguageSelected($event)" *ng-if="dropDown">
        <option *ng-for="#lang of allLanguages"
                [value]="lang.locale"
                [attr.id]="getId(lang.locale)"
                [selected]="lang.locale == selectedLanguage.locale">
            {{  lang.label.get(displayLanguage.locale)}}
        </option>
    </select>
</div>