<div class="itemList">
    <header class="filter">
        <input #filter (keyup)="onFilterValueChanged($event)"
               placeholder="Filtrer les produits"/>
        <button (click)="applyFilter(filter.value)">Rechercher</button>
    </header>
    <div class="scrollPane">
        <table>
            <tr *ng-for="#item of items" class="item">
                <td class="ref">
                    {{ item.reference }}
                </td>
                <td class="name">
                    {{ item.name }}
                    <div class="model" [hidden]="item.model == null">{{item.model}}</div>
                </td>
                <td class="price">
                    {{ item.currentPrice }} €
                </td>
            </tr>
        </table>
    </div>
</div>
