<div class="listPage">
    <h1>Ventes en cours</h1>

    <div class="busy" [hidden]="!loading">
        <img src="../../../../res/img/ajax-loader.black.gif">
    </div>


    <div class="topActions">

    </div>

    <paginator  *ng-if="salesResult != null"
                [total-count]="salesResult.count"
               [page-size]="salesPerPage"
               show-prev-next="true" show-first-last="true"
               (page-change)="onPageChanged($event)"></paginator>
    <saleList *ng-if="salesResult != null"
            [sales]="salesResult.list"
            [columns]="columns"
            selectable="true"
            headers="true"
            (sale-clicked)="onSaleClicked($event)"
            (column-action)="onColumnAction($event)">
    </saleList>
</div>
