<div class="itemList listPage">
    <table class="dataTable">
        <thead [hidden]="!headersVisible">
        <tr>
            <th *ng-for="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                    <span *ng-if="col.title !== null">
                        {{ col.title.get(language.locale) }}
                    </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#item of items"
            [class.selectable]="rowSelectable"
            (click)="onItemClick(item, $event)"
            [attr.focusable]="rowSelectable">
            <td *ng-for="#col of columns"
                [class.right]="col.alignRight"
                [class.center]="col.alignCenter">
                <itemVariantColumn class="column"
                        (action)="onColumnAction($event)"
                        [item-variant]="item"
                        [column]="col"
                        [lang]="language">
                </itemVariantColumn>
            </td>
        </tr>
        </tbody>
    </table>
</div>
