<div [ngSwitch]="column.name">
    <template [ngSwitchWhen]="'id'">
        <span class="id">
            {{ itemVariant.id }}
        </span>
    </template>
    <template [ngSwitchWhen]="'variantReference' ">
        <span class="ref">
               {{ itemVariant.variantReference }}
        </span>
    </template>
    <template [ngSwitchWhen]="'picture' ">
        <span class="picture">
            <img [src]="itemVariant.mainPicture.dataURI" *ngIf="itemVariant.mainPicture?.dataURI != undefined">

            <div *ngIf="itemVariant.mainPicture?.dataURI == null">
                <img [src]="itemVariant.item.mainPicture.dataURI"
                     *ngIf="itemVariant.item?.mainPicture?.dataURI != undefined">

                <div class="imagePlaceover" *ngIf="itemVariant.item?.mainPicture?.dataURI == undefined">
                    <i class="fa fa-book"></i>
                </div>
            </div>
        </span>
    </template>
    <template [ngSwitchWhen]=" 'pictureNoItemFallback' ">
        <span class="picture">
            <img [src]="itemVariant.mainPicture.dataURI" *ngIf="itemVariant.mainPicture?.dataURI != undefined">

            <div class="imagePlaceover" *ngIf="itemVariant.mainPicture?.dataURI == undefined">
                <i class="fa fa-book"></i>
            </div>
        </span>
    </template>
    <template [ngSwitchWhen]=" 'pricing' ">
        <span class="pricing">
              {{ getPricingLabel(itemVariant.pricing) }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'pricingAmount' ">
        <span class="pricingAmount">
              {{ itemVariant.pricingAmount | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'attributes' ">
        <span class="attributes">
            <span class="attributeValue"
                  *ngFor="#attr of itemVariant.attributeValues">
                <span class="def">
                    {{ attr.attributeDefinition.name.get(lang.locale) }}
                </span>
                <span class="value">
                    {{ attr.value.get(lang.locale) }}
                </span>
            </span>
        </span>
    </template>

    <template [ngSwitchWhen]=" 'itemReference'">
        <span class="ref">
              {{ itemVariant.item.reference }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'itemName'">
        <span class="name">
              {{ itemVariant.item.name.get(lang.locale) }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'itemDescription'">
        <span class="desc" [innerHtml]="itemVariant.item.description.get(lang.locale)">
        </span>
    </template>

    <template [ngSwitchWhen]=" 'itemNameVariantAttributes'">
        <span class="name_attributes">
            <div class="name">
                {{ itemVariant.item.name.get(lang.locale) }}
            </div>
            <div>
                <span class="attributeValue"
                      *ngFor="#attr of itemVariant.attributeValues">
                    <span class="def">
                        {{ attr.attributeDefinition.name.get(lang.locale) }}
                    </span>
                    <span class="value">
                        {{ attr.value.get(lang.locale) }}
                    </span>
                </span>
            </div>
        </span>
    </template>
    <template [ngSwitchWhen]=" 'itemVatExclusive'">
        <span  class="vatExclusive">
               {{ itemVariant.item.vatExclusive | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]=" 'itemVatRate'">
        <span class="vatRate">
        {{ ( itemVariant.item.vatRate * 100 )| number:'.0' }} %
        </span>
    </template>
    <template [ngSwitchWhen]=" 'itemVatInclusive'">
        <span class="vatInclusive">
              {{ ( itemVariant.item.vatExclusive * (1 + itemVariant.item.vatRate)) | currency:'EUR':true:'.2-2' }}
        </span>
    </template>

    <template [ngSwitchWhen]=" 'totalPrice' ">
        <span class="totalPrice">
              {{ getVariantPrice(itemVariant) | currency:'EUR':true:'.2-2' }}
        </span>
    </template>

    <template [ngSwitchWhen]=" 'action_remove' ">
        <span class="action remove">
            <a class="actionIcon "
               (click)="onColumnAction(itemVariant, column, $event)">
                <i class="fa fa-minus red"></i>
            </a>
        </span>
    </template>

</div>