/**
 * Created by cghislai on 03/09/15.
 */
h1.pageTitle {
  font-size: 1.6em;
  margin: .5em 0; }

div.pageContent {
  text-align: center;
  font-size: 1em;
  margin: .5em; }

input, textarea, select, button {
  font-size: 1em; }

.blueLink {
  color: #6981B8; }

.actionLink:hover, .blueLink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer; }

.actionLink.disabled, .disabled.blueLink {
  color: lightgray;
  pointer-events: none; }

img.busy {
  position: absolute;
  right: 1em; }

table.dataTable {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  position: relative; }
  table.dataTable th {
    padding-bottom: .3em; }
  table.dataTable td, table.dataTable th {
    padding: .3em .3em;
    text-align: left; }
    table.dataTable td.right, table.dataTable th.right {
      text-align: right; }
    table.dataTable td.center, table.dataTable th.center {
      text-align: center; }
  table.dataTable thead tr {
    border-bottom: .1em solid lightgray;
    margin-bottom: 1em; }
  table.dataTable tbody tr:not(:first-child) {
    border-top: .08em solid lightgray; }
  table.dataTable tbody tr:hover {
    background-color: rgba(128, 128, 128, 0.1); }
    table.dataTable tbody tr:hover.selectable {
      cursor: pointer; }
    table.dataTable tbody tr:hover a.actionIcon {
      -webkit-filter: none !important;
      color: black; }
      table.dataTable tbody tr:hover a.actionIcon .red {
        color: red; }
      table.dataTable tbody tr:hover a.actionIcon .green {
        color: darkgreen; }
  table.dataTable tbody tr a.actionIcon {
    font-size: 1em;
    vertical-align: middle; }
    table.dataTable tbody tr a.actionIcon:not([hidden]) {
      display: inline-block; }
    table.dataTable tbody tr a.actionIcon:not(.noBlur) {
      color: gainsboro;
      -webkit-filter: blur(0.1em); }
    table.dataTable tbody tr a.actionIcon.noBlur .red {
      color: red; }
    table.dataTable tbody tr a.actionIcon.noBlur .green {
      color: darkgreen; }
    table.dataTable tbody tr a.actionIcon:hover {
      cursor: pointer;
      color: gray; }
      table.dataTable tbody tr a.actionIcon:hover .red {
        color: #ff9999; }
      table.dataTable tbody tr a.actionIcon:hover .green {
        color: #00fd00; }

.itemVariantList {
  position: relative; }
  .itemVariantList .name {
    font-size: 1em;
    font-weight: bold; }
  .itemVariantList .model {
    font-size: .8em;
    font-weight: lighter; }
  .itemVariantList .price {
    text-align: right;
    font-size: 1.1em; }
  .itemVariantList .ref {
    font-size: .8em;
    font-family: monospace;
    text-align: left;
    max-width: 10%; }
  .itemVariantList .description {
    font-size: .8em;
    max-width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .itemVariantList .picture img {
    max-height: 3em;
    display: inline-block;
    vertical-align: middle; }
  .itemVariantList .picture .imagePlaceover {
    font-size: 3em; }
  .itemVariantList .attributeValue {
    font-size: .8em;
    color: #555555; }
    .itemVariantList .attributeValue:not(:last-child)::after {
      content: ' | ';
      font-size: 1em; }
    .itemVariantList .attributeValue .def {
      padding: 0;
      font-weight: bold; }
      .itemVariantList .attributeValue .def::after {
        content: ':'; }
    .itemVariantList .attributeValue .value {
      font-weight: lighter; }
