<div>
    <div class="toPayHeader coloredHeader"
         *ng-if="toPayAmount > 0">
        <h1>À payer</h1>
         <span class="actions">
        <span class="total single" [class.negative]="toPayAmount < 0" [class.exact]="toPayAmount == 0">
            {{ toPayAmount | currency:'EUR':true:'.2-2' }}
        </span>
        </span>
    </div>
    <div class="toPayHeader coloredHeader"
         *ng-if="toPayAmount <= 0">
        <h1>À rendre</h1>
        <span class="actions">
            <span class="total negative">
                {{ -toPayAmount | currency:'EUR':true:'.2-2'}}
            </span>
            <span class="action validateLink" (click)="onValidateClicked()">
                Valider
            </span>
        </span>
    </div>
</div>

<table class="usedMethod dataTable">
    <thead>
    <tr>
        <th>Méthode</th>
        <th class="number">Montant</th>
    </tr>
    </thead>
    <tbody>
    <tr *ng-for="#pay of payList">
        <td>{{ getPayMethodName(pay.method) }}</td>
        <td class="number">
            {{ pay.amount | currency:'EUR':true:'.2-2' }}
        </td>
        <td class="rowActions">
                <span class="actions">
                    <a class="action remove" (click)="removePay(pay)">Supprimer</a>
                    <a class="ation edit" (click)="startEditPay(pay.method)">Éditer</a>
                </span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th class="total">Total:</th>
        <th class="total">
            {{ paidAmount | currency:'EUR':true:'.2-2' }}
        </th>
    </tr>

    </tfoot>
</table>

<div class="editMethod" *ng-if="editingPay != null">
    <span class="method">{{ getPayMethodName(editingPay.method) }}</span>
    <span class="amount">
        Montant: <input #amount [value]="editingPay.amount"
                        (keyUp)="onPayAmountKeyUp(amount.value, $event)" autoFocus> €
    </span>
</div>

<div class="addMethod">
    <div *ng-for="#method of availablePayMethods"
         class="boxedHoverableLink"
         (^click)="startEditPay(method)">
        {{ getPayMethodName(method) }}
    </div>
</div>