@import "../../../styles/_main";

.toPayHeader {
  .total {
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
  }

  .actions > .total {
    display: inline-block;
    vertical-align: middle;
    padding-right: .5em;
  }

  .total.single {
    margin-top: .3em;
  }
  .total.negative {
    color: red;
  }
  .total.exact {
    color: green;
  }
}

table.usedMethod {

  font-size: 1.1em !important;

  thead {
    display: none;
  }
  td, th {
    padding: .5em !important;
  }
  td.rowActions {
    padding: .3em !important;
  }
}

.method {
  font-size: 1.1em;
  font-weight: bolder;
  padding: .2em;
}

.addMethod {
  font-size: 1.3em;
}

.addMethod > * {
  padding: 1em;
  margin: 1em;
}

.editMethod {
  border: 1px solid lightsteelblue;
  width: 100%;
  display: table;
}

.editMethod > * {
  display: table-cell;
  vertical-align: middle;
  padding: .5em;
}

.editMethod .amount {
  text-align: right;
}

.editMethod input {
  font-size: 1em;
}

