<div class="editPage">
    <h1>Comptage de la caisse</h1>

    <div class="mainPane leftPane">
        <div class="info">
            <div class="title">
                Point de vente
            </div>
            <div class="value pos">
                <div *ng-if="posList != null" [hidden]="posList.length < 2">
                    <select (input)="onPosChanged($event)" [value]="posId">
                        <option [value]="null" [hidden]="pos != null">Choisissez un point de vente</option>
                        <option *ng-for="#posOption of posList" [value]="posOption.id">
                            {{ posOption.description[language] }}
                        </option>
                    </select>
                </div>
                <div *ng-if="pos != null && posList != null" [hidden]="posList.length > 1">
                    {{ pos.description[language] }}
                </div>
            </div>

            <div class="title">
                Compte
            </div>
            <div class="value">
                <div *ng-if="accountList != null" [hidden]="accountList.length < 2">
                    <select (input)="onAccountChanged($event)" [value]="accountId">
                        <option [value]="null" [hidden]="account != null">Choisissez un compte</option>
                        <option *ng-for="#accountOption of accountList" [value]="accountOption.id">
                            {{ accountOption.description[language] }}
                        </option>
                    </select>
                </div>
                <div *ng-if="account != null && accountList != null" [hidden]="accountList.length > 1">
                    {{ account.description[language] }}
                </div>
            </div>

            <div class="title" [hidden]="lastBalance == null">
                Dernière validation
            </div>
            <div class="value" *ng-if="lastBalance != null">
                <span class="title light">
                    {{ lastBalance.dateTime | date:'dd/MM/yyyy HH:mm' }}
                </span>
                <span>
                    {{ lastBalance.balance | currency:'EUR':true:'.2-2' }}
                </span>
            </div>
        </div>

        <div class="actions" [hidden]="account == null">
            <a (click)="closeBalance()">Valider la caisse</a>
        </div>
    </div>

    <div class="mainPane rightPane">
        <div class="moneyPiles" [hidden]="account == null">
            <div *ng-for="#aMoneyPile of aBalance.moneyPiles; #index=index"
                 class="moneyPile">
                <span class="name">{{ aMoneyPile.label[language] }}</span>
                <span class="amount">
                    <input type="number" min="0" step="1"
                           [value]="aMoneyPile.moneyPile.count"
                           [validator]="validateAmount"
                           (fast-change)="onCashInputChanged(aMoneyPile, $event)"
                           size="5" fast-input>
                </span>
                <span class="total">
                    {{ aMoneyPile.total | currency:'EUR':true:'.2-2'}}
                </span>
            </div>
            <div class="totalRow">
                <span></span>
                <span class="total">
                    Total:
                </span>
                <span class="total value">
                    <div class="value">
                        <a (click)="startEditTotal()" [hidden]="editingTotal"
                           class="amountLink actionlink">
                            {{ aBalance.total | currency:'EUR':true:'.2-2' }}
                        </a>
                    </div>
                    <div class="editAmount">
                        <input type="number" min="0.01" step="0.01"
                               #totalInput *ng-if="editingTotal"
                               [value]="aBalance.total"
                               [validator]="validatePrice"
                               (fast-change)="onTotalChanged($event)"
                               class="number"
                               fast-input>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
