@import '../../../styles/_main';

div.editPage {
  padding: 1em;
}
div.mainPane {
  display: table-cell;
  vertical-align: top;

}

.leftPane {
  padding: 0;
  width: 20em;
  .info {
    margin: 1em;
    padding: 1em;
    border: .1em solid black;

    > div {
      padding: .3em;
    }
    div.title {
      text-align: left;
      font-weight: bolder;
      margin-top: .3em;
    }
    div.title:not(:nth-of-type(1)) {
      border-top: .1em solid lightgray;
    }
    div.value {
      text-align: right;

      .title {
        margin-right: 1em;
        font-weight: bold;
      }
      .title.light {
        font-size: .8em;
        color: grey;;
        font-weight: lighter;
      }

    }

    .toMatch {
      font-weight: bolder;
      font-size: 1.1em;
    }
    .toMatch:not(.match) {
      color: red;
    }
    .toMatch.match {
      color: darkgreen;
    }
  }
  .actions {

    text-align: center;

    div.editAmount {
      height: 2em;

    }
    > * {
      padding: .5em;
    }
    input {
      width: 6em;
      margin: .5em;
    }
    a:not([hidden]) {
      @extend .boxedHoverableLink;
      display: inline-block;
    }
  }
}

.rightPane {
  padding: 0;

  .cashTypes {
    margin: 1em;
    display: table;
  }
  .cashType {
    display: table-row;

    > span {
      padding: .2em;
      padding-left: .3em;
      padding-right: .3em;
      display: table-cell;
      vertical-align: middle;
      border-bottom: .1em solid lightgray;
    }
    .name {
      font-size: .9em;
      font-weight: bolder;
      width: 5em;
      text-align: right;
    }
    .amount {

      input {
        text-align: right;
        width: 5em;
        font-size: 1em;
      }
    }
    .total {
      min-width: 6.5em;
      text-align: right;
      font-size: .8em;
    }
  }

  .totalRow {
    display: table-row;
    font-weight: bold;
    font-size: 1.1em;

    > span {
      padding: .3em;
      display: table-cell;
      text-align: right;
      vertical-align: middle;
    }
    
    input {
      font-size: .9em;
      margin: 0;
      width: 4em;
    }

  }
}