<div class="app">

    <div *ng-if="loginRequired && !loggedIn">
        <p>Votre session a expiré</p>
        <a [router-link]="['/Login']">Cliquez ici</a> pour vous reconnecter.
    </div>
    <div *ng-if="loggedIn || loginRequired == false">
        <router-outlet></router-outlet>
    </div>

    <dialogview modal="true" closable="true" title="Erreur" *ng-if="errorService.hasError"
                (close)="errorService.dismissError()">
        <p [inner-html]="errorService.errorHeader">
        </p>
        <p class="errorMessage"
           [inner-html]="errorService.errorContent">
        </p>
        <p [inner-html]="errorService.errorFooter">
        </p>
    </dialogview>
</div>
