<div class="app">

    <div *ngIf="loginRequired">
        <p>Votre session a expiré</p>
        <a [routerLink]="['/Login']">Cliquez ici</a> pour vous reconnecter.
    </div>
    <div *ngIf="loginRequired == false">
        <router-outlet></router-outlet>
    </div>

    <dialogview modal="true" closable="true" title="Erreur" *ngIf="errorService.hasError"
                (close)="errorService.dismissError()">
        <p [innerHtml]="errorService.errorHeader">
        </p>
        <p class="errorMessage"
           [innerHtml]="errorService.errorContent">
        </p>
        <p [innerHtml]="errorService.errorFooter">
        </p>
    </dialogview>
</div>
