h1.pageTitle {
  font-size: 1.6em;
  margin: .5em 0; }

div.pageContent {
  text-align: center;
  font-size: 1em;
  margin: .5em; }

input, textarea, select, button {
  font-size: 1em; }

.blueLink {
  color: #6981B8; }

.actionLink:hover, .blueLink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer; }

.actionLink.disabled, .disabled.blueLink {
  color: lightgray;
  pointer-events: none; }

header.appHeader {
  background-color: #8BAAF2;
  color: white;
  white-space: nowrap;
  padding: 0em 1em; }
  header.appHeader:not([hidden]) {
    display: block; }
    header.appHeader:not([hidden]) > *:not([hidden]) {
      display: inline-block; }
  header.appHeader div.tabsContainer {
    vertical-align: bottom;
    height: 100%;
    margin-left: 3em; }
    header.appHeader div.tabsContainer .tabsRow {
      display: table-row; }
      header.appHeader div.tabsContainer .tabsRow > * {
        display: table-cell; }
