
<div class="login formPage">
    <h1>Connection</h1>
    <p class="introText">
        {{ introText }}
    </p>
    <form (ng-submit)="onSubmit()" #form="form">
        <table>
            <tr>
                <td>
                    <label for="login">Login:</label>
                </td>
                <td>
                    <input id="login" #loginElement
                            [(ng-model)]="login"
                            required autofocus>
                </td>
                </tr>
            <tr>
                <td>
                    <label for="password">Mot de passe:</label>
                </td>
                <td>
                    <input id="password" type="password" #passwordElement
                           [(ng-model)]="password" required>
                </td>
            </tr>
        </table>
        <button type="submit" [disabled]="!form.form.valid">Se connecter</button>
        <div [hidden]="error != true" class="error">
            Impossible de se logger: {{ errorReason }}
        </div>
    </form>
    <div>
    <a [router-link]="['/register']"
            class="lightBlueLink">Créer un compte</a>
    </div>
</div>