<div class="listPage">
    <h1>Édition des produits</h1>

    <div class="topActions">
        <span class="input">
            <input [(ng-model)]="itemSearch.multiSearch" autofocus
                   placeholder="Filtrer les produits"
                   (keyup)="handleFilterKeyUp($event)"
                   (change)="searchItems()">
        </span>
    </div>

    <paginator [total-count]="itemCount"
               [page-size]="itemsPerPage"
               show-prev-next="true" show-first-last="true"
               (pagechange)="onPageChanged($event)"></paginator>
    <itemList #itemlistcomp *ng-if="itemSearchResult != undefined"
              [columns]="columns" [items]="itemSearchResult.list"
              selectable="true" headers="true"
              (column-action)="onColumnAction($event)"
              (item-clicked)="doEditItem($event)">

    </itemList>
</div>
