<div class="moneyPileCount">
    <span class="name">
        {{ moneyPile.label[appLanguage.locale] }}
    </span>
    <span class="amount">
        <input type="number" min="0" step="1"
               [initialValue]="moneyPile.unitCount"
               [validator]="validateAmount"
               [validateOnBlur]="true"
               (fastChange)="onMoneyPileChanged($event)"
               size="5" fast-input>
    </span>
    <span class="total">
        {{ moneyPile.total | currency:'EUR':true:'.2-2'}}
    </span>
</div>
