@import '../../../../styles/_forms';
@import '../../../../styles/_dataTable';

div.pageContent {
  .itemPicturePreview {
    display: block;
  }

  .totalPreview {
    font-size: .9em;
    font-weight: normal;
    margin-top: .2em;

    > span {
      border: .1em solid lightgray;
      padding: .1em;
    }
  }

  form {
    display: inline-block;
    vertical-align: top;
    padding: 0 1em;

    &.right {
      width: 20em;
    }

    .attributeTable {
      border-bottom: .1em solid lightgray;
    }

    div.form {
      margin-top: 1em;

      &.disabled {
        * {
          color: lightgray;
          pointer-events: none;
        }
      }
    }

    .attribute {
      padding: .3em;
      width: 100%;

      > * {
        display: inline-block;
      }

      .definition {
        width: 40%;
        font-size: .9em;
        font-weight: bold;

      }
      .value {
        width: 40%;
        text-align: right;
        font-size: .9em;
      }

    }
  }
}